## Source SQLite Database

* Dataset URL: **/dsa/data/DSA-7030/cc24_7030.sqlite.db**
* Data Dictionary: [pdf](./ChicagoData-Description.pdf)
* [Chicago Crimes 2001-Present Dashboard](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present-Dashboard/5cd6-ry5g)

This SQLite database consists of a set of normalized relations populated with publically available Chicago crime data for the years 2001 to 2024.

## Database exploration

The cells below provide SQL DML statments for examining the underlying metadata in the SQLite database that describes the table, column, and relationship details.  An initial connection and subsequent SQL statements are provided for acquiring the information necessary for reconstructing the table and relational structure in your postgres SSO database.

In [1]:
#Load extention and connect to database
%load_ext sql
%sql sqlite:////dsa/data/DSA-7030/cc24_7030.sqlite.db

'Connected: @/dsa/data/DSA-7030/cc24_7030.sqlite.db'

## Explore the SQLite Tables List

This quiery simply lists the names of the database tables.  Here's a quick reference discussing the sqlite_master table showing its utility.  [sqlite_master table meta data](https://bw.org/2019/02/25/finding-meta-data-in-sqlite/) - explore what metadata is provided.

In [20]:
%%sql
SELECT distinct m.type, m.tbl_name --m.sql
FROM sqlite_master AS m,
     pragma_table_info(m.name) AS t
WHERE m.type = 'table'
order by m.name, t.pk DESC

 * sqlite:////dsa/data/DSA-7030/cc24_7030.sqlite.db
Done.

[('table', 'cc24_case_location'),
 ('table', 'cc24_cases'),
 ('table', 'cc24_fbi_nibrs_categories'),
 ('table', 'cc24_fbi_nibrs_offense_categories'),
 ('table', 'cc24_iucr_codes'),
 ('table', 'cc24_iucr_codes_primary_descriptions'),
 ('table', 'cc24_iucr_codes_secondary_descriptions'),
 ('table', 'cc24_nibrs_crimes_against'),
 ('table', 'cc24_nibrs_fbicode_offenses'),
 ('table', 'cc24_nibrs_offenses_crimes_aginst')]

## Explore Column Details

The query below provdes the complete list of tables and their columns with important details.

* **tbl_name** = Name of the table
* **name** = column name
* **type** = declared data type
* **notnull** = indicates column declared as NOT NULL
* **pk** = indicates column is the primary key

In [21]:
%%sql 
SELECT m.tbl_name, t.* --m.sql
 FROM pragma_table_info(m.tbl_name) t, sqlite_master m WHERE m.type='table';

 * sqlite:////dsa/data/DSA-7030/cc24_7030.sqlite.db
Done.

[('cc24_iucr_codes', 0, 'iucr_code', 'varchar(10)', 0, None, 1),
 ('cc24_iucr_codes', 1, 'iucr_index_code', 'char', 0, None, 0),
 ('cc24_iucr_codes_primary_descriptions', 0, 'iucr_code', 'varchar(10)', 0, None, 1),
 ('cc24_iucr_codes_primary_descriptions', 1, 'iucr_primary_desc', 'varchar(100)', 0, None, 0),
 ('cc24_iucr_codes_secondary_descriptions', 0, 'iucr_code', 'varchar(10)', 0, None, 1),
 ('cc24_iucr_codes_secondary_descriptions', 1, 'iucr_secondary_desc', 'varchar(100)', 0, None, 0),
 ('cc24_fbi_nibrs_categories', 0, 'fbi_nibrs_category_name', 'varchar(50)', 0, None, 1),
 ('cc24_fbi_nibrs_offense_categories', 0, 'nibrs_offense_code', 'varchar(10)', 1, None, 1),
 ('cc24_fbi_nibrs_offense_categories', 1, 'fbi_nibrs_category_name', 'varchar(50)', 0, None, 0),
 ('cc24_nibrs_crimes_against', 0, 'nibrs_crime_against', 'varchar(20)', 1, None, 1),
 ('cc24_nibrs_fbicode_offenses', 0, 'nibrs_offense_code', 'varchar(10)', 1, None, 1),
 ('cc24_nibrs_fbicode_offenses', 1, 'nibrs_offense_name', 'varchar(100)', 1, None, 0),
 ('cc24_nibrs_offenses_crimes_aginst', 0, 'nibrs_crime_against', 'varchar(20)', 0, None, 1),
 ('cc24_nibrs_offenses_crimes_aginst', 1, 'nibrs_offense_code', 'varchar(10)', 1, None, 2),
 ('cc24_cases', 0, 'case_number', 'TEXT', 0, None, 0),
 ('cc24_cases', 1, 'incident_date', 'TEXT', 0, None, 0),
 ('cc24_cases', 2, 'iucr_code', 'TEXT', 0, None, 0),
 ('cc24_cases', 3, 'nibrs_fbi_offense_code', 'TEXT', 0, None, 0),
 ('cc24_cases', 4, 'arrest', 'BIGINT', 0, None, 0),
 ('cc24_cases', 5, 'domestic', 'BIGINT', 0, None, 0),
 ('cc24_cases', 6, 'updated_on', 'TEXT', 0, None, 0),
 ('cc24_case_location', 0, 'case_number', 'TEXT', 0, None, 0),
 ('cc24_case_location', 1, 'block', 'TEXT', 0, None, 0),
 ('cc24_case_location', 2, 'location_description', 'TEXT', 0, None, 0),
 ('cc24_case_location', 3, 'community_area', 'BIGINT', 0, None, 0),
 ('cc24_case_location', 4, 'ward', 'BIGINT', 0, None, 0),
 ('cc24_case_location', 5, 'district', 'BIGINT', 0, None, 0),
 ('cc24_case_location', 6, 'beat', 'BIGINT', 0, None, 0),
 ('cc24_case_location', 7, 'latitude', 'TEXT', 0, None, 0),
 ('cc24_case_location', 8, 'longitude', 'TEXT', 0, None, 0)]

## Below query provdes the list of columns that are declared "unique" for referential integrity enforcement.

<u>Query Output Descriptions</u>
* **name** = the table name begining at the "cc24_" -- cc24_case_location is table name.
* **unique** = indicates the column is declared "unique"
* **origin** = indicates the columns is declared as primary key
* **name_1** = column name

In [22]:
%%sql 
select il.*,ii.* --,m.sql
    from sqlite_master m, 
    pragma_index_list( m.name ) as il,
    pragma_index_info(il.name) as ii

 * sqlite:////dsa/data/DSA-7030/cc24_7030.sqlite.db
Done.

[(0, 'sqlite_autoindex_cc24_iucr_codes_1', 1, 'pk', 0, 0, 0, 'iucr_code'),
 (0, 'sqlite_autoindex_cc24_iucr_codes_primary_descriptions_1', 1, 'pk', 0, 0, 0, 'iucr_code'),
 (0, 'sqlite_autoindex_cc24_iucr_codes_secondary_descriptions_1', 1, 'pk', 0, 0, 0, 'iucr_code'),
 (0, 'sqlite_autoindex_cc24_fbi_nibrs_categories_1', 1, 'pk', 0, 0, 0, 'fbi_nibrs_category_name'),
 (0, 'sqlite_autoindex_cc24_fbi_nibrs_offense_categories_1', 1, 'pk', 0, 0, 0, 'nibrs_offense_code'),
 (0, 'sqlite_autoindex_cc24_nibrs_crimes_against_1', 1, 'pk', 0, 0, 0, 'nibrs_crime_against'),
 (0, 'sqlite_autoindex_cc24_nibrs_fbicode_offenses_1', 1, 'pk', 0, 0, 0, 'nibrs_offense_code'),
 (0, 'sqlite_autoindex_cc24_nibrs_offenses_crimes_aginst_1', 1, 'pk', 0, 0, 0, 'nibrs_crime_against'),
 (0, 'sqlite_autoindex_cc24_nibrs_offenses_crimes_aginst_1', 1, 'pk', 0, 1, 1, 'nibrs_offense_code')]

## Explore Relationship Details (get foreign key references)

The below query exracts the details describing the foreign key referenes bewtween tables.

* **from_table** = the name of the one-side table
* **from_column** = the name of the foreign key column in the one-side table
* **to_table** = the name of the many-side reference table
* **to_column** = the name of the foreign key column in the one-side reference table

These metadata can be translated to the necessary SQL statement to establish a relationship between tables:

```SQL
FOREIGN KEY (<from_column>) REFERENCES <to_table>(<to_column>)
```

In [5]:
%%sql
SELECT 
    m.name as from_table, f.'from' as from_column, f.'table' as to_table, f.'to' as to_column --, m.sql
FROM
    sqlite_master m
    JOIN pragma_foreign_key_list(m.name) f ON m.name != f."table"
WHERE m.type = 'table'
ORDER BY m.name
;

## Using the metadata from above:

## Implement the required CREATE TABLE statements for establishing the Chicago Crime Database in your SSO dsa_student database.  

The SQL statement takes this form:

```SQL
CREATE TABLE SSO.cc24_tbl_name (
 column_name_1 data_type <unqiue, not null>,
 column_name_N data_type <unqiue, not null>,
 PRIMARY KEY (<column_name>),
 <FOREIGN KEY (from_column_name) REFERENCES <SSO.cc24_to_table_name>(to_column_name)
 );
```

**The database tables, column names, and data types created in your SSO postgres server dsa_student database should be named exactly as they appear (with necessary modifications for any constraint or reference anomalies) in the ```cc24_7030.sqlite.db``` SQLite database.**

Use as many cells as desired.

#cc24_iucr_codes table

create table ukgff.cc24_iucr_codes (
    iucr_code varchar(10) unique,
    iucr_index_code char,
    primary key(iucr_code)
);

#cc24_iucr_codes_primary_descriptions table
create table ukgff.cc24_iucr_codes_primary_descriptions (
    iucr_code varchar(10),
    iucr_primary_desc varchar(100),
    primary key(iucr_code),
    foreign key(iucr_code) references cc24_iucr_codes(iucr_code)
);

#cc24_iucr_codes_secondary_descriptions table
create table ukgff.cc24_iucr_codes_secondary_descriptions (
    iucr_code varchar(10),
    iucr_secondary_desc varchar(100),
    primary key(iucr_code),
    foreign key(iucr_code) references cc24_iucr_codes(iucr_code)
);

#cc24_fbi_nibrs_categories table

create table ukgff.cc24_fbi_nibrs_categories (
    fbi_nibrs_category_name varchar(50) unique,
    primary key(fbi_nibrs_category_name)
);

#cc24_fbi_nibrs_offense_categories table

create table ukgff.cc24_fbi_nibrs_offense_categories (
    nibrs_offense_code varchar(10) unique not null,
    fbi_nibrs_category_name varchar(50),
    primary key(nibrs_offense_code),
    foreign key(fbi_nibrs_category_name) references cc24_fbi_nibrs_categories(fbi_nibrs_category_name)
    
);

#cc24_nibrs_fbicode_offenses table

create table ukgff.cc24_nibrs_fbicode_offenses (
    nibrs_offense_code varchar(10) not null,
    nibrs_offense_name varchar(100) not null,
    primary key(nibrs_offense_code),
    foreign key(nibrs_offense_code) references cc24_fbi_nibrs_offense_categories(nibrs_offense_code)
);

#cc24_nibrs_crimes_against table

create table ukgff.cc24_nibrs_crimes_against (
    nibrs_crime_against varchar(20) unique not null,
    primary key(nibrs_crime_against)
);

#cc24_nibrs_offenses_crimes_aginst table

create table ukgff.cc24_nibrs_offenses_crimes_aginst(
    nibrs_crime_against varchar(20),
    nibrs_offense_code varchar(10) not null,
    primary key(nibrs_crime_against,nibrs_offense_code),
    foreign key(nibrs_crime_against) references cc24_nibrs_crimes_against(nibrs_crime_against),
    foreign key(nibrs_offense_code) references cc24_nibrs_fbicode_offenses(nibrs_offense_code)
);

#cc24_cases table
create table ukgff.cc24_cases (
    case_number varchar(20),
    incident_date timestamp,
    iucr_code varchar(10),
    nibrs_fbi_offense_code varchar(20),
    arrest boolean,
    domestic boolean,
    updated_on timestamp,
    primary key(case_number),
    foreign key(iucr_code) references cc24_iucr_codes(iucr_code),
    foreign key(nibrs_fbi_offense_code) references cc24_nibrs_fbicode_offenses(nibrs_offense_code)
    
);

#cc24_case_location table

create table ukgff.cc24_case_location(
    case_number varchar(20),
    block varchar(100),
    location_description varchar(100),
    community_area integer,
    ward integer,
    district integer,
    beat integer,
    latitude real,
    longitude real,
    primary key(case_number),
    foreign key(case_number) references cc24_cases(case_number)
);

# Connect to your SSO database using %sql magic or sqlAlchmey connection and implement your database structure (create table...)

In [2]:
#implement tables in SSO database
#######################################################################
## Code to connect and exeucte SSO.Site and SSO.Visited Tables below ## 
#######################################################################

import getpass
# This collects a masked password from the user
mypasswd = getpass.getpass()

········

In [3]:
import psycopg2
import numpy as np
from psycopg2.extensions import adapt, register_adapter, AsIs

# Then connects to the DB
connection = psycopg2.connect(database = 'dsa_student', 
                              user = 'ukgff', 
                              host = 'pgsql.dsa.lan',
                              password = mypasswd)

cursor = connection.cursor()

del mypasswd

In [30]:
#cc24_iucr_codes
sql = """
create table ukgff.cc24_iucr_codes (
    iucr_code varchar(10) unique,
    iucr_index_code char,
    primary key(iucr_code)
);
"""
cursor.execute(sql)
connection.commit()

In [31]:
#cc24_iucr_codes_secondary_descriptions
sql ="""
create table ukgff.cc24_iucr_codes_secondary_descriptions (
    iucr_code varchar(10),
    iucr_secondary_desc varchar(100),
    primary key(iucr_code),
    foreign key(iucr_code) references cc24_iucr_codes(iucr_code)
);
"""
cursor.execute(sql)
connection.commit()

In [32]:
#cc24_iucr_codes_primary_descriptions
sql ="""
create table ukgff.cc24_iucr_codes_primary_descriptions (
    iucr_code varchar(10),
    iucr_primary_desc varchar(100),
    primary key(iucr_code),
    foreign key(iucr_code) references cc24_iucr_codes(iucr_code)
);
"""
cursor.execute(sql)
connection.commit()

In [33]:
#cc24_fbi_nibrs_categories
sql = """
create table ukgff.cc24_fbi_nibrs_categories (
    fbi_nibrs_category_name varchar(50) unique,
    primary key(fbi_nibrs_category_name)
);
"""
cursor.execute(sql)
connection.commit()

In [34]:
#cc24_fbi_nibrs_offense_categories

sql = """
create table ukgff.cc24_fbi_nibrs_offense_categories (
    nibrs_offense_code varchar(10) unique not null,
    fbi_nibrs_category_name varchar(50),
    primary key(nibrs_offense_code),
    foreign key(fbi_nibrs_category_name) references cc24_fbi_nibrs_categories(fbi_nibrs_category_name)    
);
"""
cursor.execute(sql)
connection.commit()

In [66]:
#cc24_nibrs_fbicode_offenses
sql = """
create table ukgff.cc24_nibrs_fbicode_offenses (
    nibrs_offense_code varchar(10) not null,
    nibrs_offense_name varchar(100) not null,
    primary key(nibrs_offense_code),
    foreign key(nibrs_offense_code) references cc24_fbi_nibrs_offense_categories(nibrs_offense_code)
);

"""
cursor.execute(sql)
connection.commit()

In [36]:
#cc24_nibrs_crimes_against

sql = """
create table ukgff.cc24_nibrs_crimes_against (
    nibrs_crime_against varchar(20) unique not null,
    primary key(nibrs_crime_against)
);
"""
cursor.execute(sql)
connection.commit()

In [67]:
#cc24_nibrs_offenses_crimes_aginst
sql = """
create table ukgff.cc24_nibrs_offenses_crimes_aginst(
    nibrs_crime_against varchar(20),
    nibrs_offense_code varchar(10) not null,
    primary key(nibrs_crime_against,nibrs_offense_code),
    foreign key(nibrs_crime_against) references cc24_nibrs_crimes_against(nibrs_crime_against),
    foreign key(nibrs_offense_code) references cc24_nibrs_fbicode_offenses(nibrs_offense_code)
);
"""
cursor.execute(sql)
connection.commit()

In [54]:
#cc24_cases
sql = """
create table ukgff.cc24_cases (
    case_number varchar(20),
    incident_date timestamp,
    iucr_code varchar(10),
    nibrs_fbi_offense_code varchar(20),
    arrest boolean,
    domestic boolean,
    updated_on timestamp,
    primary key(case_number),
    foreign key(iucr_code) references cc24_iucr_codes(iucr_code),
    foreign key(nibrs_fbi_offense_code) references cc24_nibrs_fbicode_offenses(nibrs_offense_code)
    
);
"""
cursor.execute(sql)
connection.commit()

In [58]:
#cc24_case_location
sql = """
create table ukgff.cc24_case_location(
    case_number varchar(20),
    block varchar(100),
    location_description varchar(100),
    community_area integer,
    ward integer,
    district integer,
    beat integer,
    latitude real,
    longitude real,
    primary key(case_number),
    foreign key(case_number) references cc24_cases(case_number)
);
"""
cursor.execute(sql)
connection.commit()

In [53]:
#Drop tables 
#cursor.execute("drop table if exists ukgff.cc24_case_location; ")
#cursor.execute("drop table if exists ukgff.cc24_cases; ")
#cursor.execute("drop table if exists ukgff.cc24_nibrs_offenses_crimes_aginst; ")
#cursor.execute("drop table if exists ukgff.cc24_nibrs_crimes_against; ")
#cursor.execute("drop table if exists ukgff.cc24_nibrs_fbicode_offenses; ")
#cursor.execute("drop table if exists ukgff.cc24_fbi_nibrs_offense_categories; ")
#cursor.execute("drop table if exists ukgff.cc24_fbi_nibrs_categories; ")
#cursor.execute("drop table if exists ukgff.cc24_iucr_codes_secondary_descriptions; ")
#cursor.execute("drop table if exists ukgff.cc24_iucr_codes_primary_descriptions; ")
#cursor.execute("drop table if exists ukgff.cc24_iucr_codes; ")
#connection.commit()

## Construct and embed your Entity Relationship Diagram for your destination cc24_ postgress database

Upload your ERD image to the "final_project" folder and update the markdown below to display it here:

![ERD-HERE](M7.png)

# Perform the ETL of the source data to your SSO dsa_student Chicago Crime Database

* Establish a connection to the the SQLite source database using sqlAlchemy (best choice) - use identifiable name.
* Peform ETL of the source data tables to the destination data tables incrementally (best choice) - use identifiable name.
  * You may want to use pandas as the medium to ETL between the two databases -- **be patient!**
     * it can easliy read "big" source sql table data
     * hold data in a resizable data frame relative to computing resource constraints
     * make any necessary transformations to data values & discard duplicate records if needed
     * write/load data to destination postgresql tables

In [9]:
import pandas as pd
from sqlalchemy.engine.url import URL
from sqlalchemy import create_engine


postgres_db = {'drivername': 'postgres',
               'username': 'ukgff',
               'password': mypasswd,
               'host': 'pgsql.dsa.lan',
               'database' :'dsa_student'
              }
engine = create_engine(URL(**postgres_db), echo=True)

del mypasswd

In [10]:
e2 = create_engine("sqlite:////dsa/data/DSA-7030/cc24_7030.sqlite.db",encoding ='utf-8')

cc24_iucr_codes
----------

In [50]:
cc24_iucr_codes  = pd.read_sql_query('select * from cc24_iucr_codes ;',e2)

In [51]:
cc24_iucr_codes.to_sql(
    'cc24_iucr_codes',
    engine,
    schema= 'ukgff',   
    if_exists='append', 
    index=False)

cc24_iucr_codes_secondary_descriptions
---------------

In [52]:
cc24_iucr_codes_secondary_descriptions = pd.read_sql_query("select* from cc24_iucr_codes_secondary_descriptions",e2)

In [53]:
cc24_iucr_codes_secondary_descriptions.to_sql(
    'cc24_iucr_codes_secondary_descriptions',
    engine,
    schema= 'ukgff',   
    if_exists='append', 
    index=False)

cc24_iucr_codes_primary_descriptions
----------

In [54]:
cc24_iucr_codes_primary_descriptions = pd.read_sql_query("select* from cc24_iucr_codes_primary_descriptions",e2)

In [55]:
cc24_iucr_codes_primary_descriptions.to_sql(
    'cc24_iucr_codes_primary_descriptions',
    engine,
    schema= 'ukgff',   
    if_exists='append', 
    index=False)

cc24_fbi_nibrs_categories
--------

In [56]:
cc24_fbi_nibrs_categories = pd.read_sql_query("select* from cc24_fbi_nibrs_categories",e2)

In [57]:
cc24_fbi_nibrs_categories.to_sql(
    'cc24_fbi_nibrs_categories',
    engine,
    schema= 'ukgff',   
    if_exists='append', 
    index=False)

cc24_fbi_nibrs_offense_categories
-------

In [59]:
cc24_fbi_nibrs_offense_categories = pd.read_sql_query("select* from cc24_fbi_nibrs_offense_categories",e2)

In [60]:
cc24_fbi_nibrs_offense_categories.to_sql(
    'cc24_fbi_nibrs_offense_categories',
    engine,
    schema= 'ukgff',   
    if_exists='append', 
    index=False)

cc24_nibrs_fbicode_offenses
------

In [61]:
cc24_nibrs_fbicode_offenses = pd.read_sql_query("select* from cc24_nibrs_fbicode_offenses",e2)

In [70]:
cc24_nibrs_fbicode_offenses.to_sql(
    'cc24_nibrs_fbicode_offenses',
    engine,
    schema= 'ukgff',   
    if_exists='append', 
    index=False)

cc24_nibrs_crimes_against
------------

In [71]:
cc24_nibrs_crimes_against = pd.read_sql_query("select* from cc24_nibrs_crimes_against",e2)

In [72]:
cc24_nibrs_crimes_against.to_sql(
    'cc24_nibrs_crimes_against',
    engine,
    schema= 'ukgff',   
    if_exists='append', 
    index=False)

cc24_nibrs_offenses_crimes_aginst
--------

In [73]:
cc24_nibrs_offenses_crimes_aginst = pd.read_sql_query("select* from cc24_nibrs_offenses_crimes_aginst",e2)

In [74]:
cc24_nibrs_offenses_crimes_aginst.to_sql(
    'cc24_nibrs_offenses_crimes_aginst',
    engine,
    schema= 'ukgff',   
    if_exists='append', 
    index=False)

cc24_cases
---

In [31]:
%%sql
select count(*) from cc24_cases;

 * sqlite:////dsa/data/DSA-7030/cc24_7030.sqlite.db
Done.

[(8202774,)]

In [55]:
cc24_cases = pd.read_sql_query("select*from cc24_cases", e2, chunksize=500000)

for i, chunk in enumerate(cc24_cases):
    print(f"Processing chunk {i}")
    
    chunk['arrest'] = chunk['arrest'].astype(bool)
    chunk['domestic'] = chunk['domestic'].astype(bool)
    
    chunk = chunk.drop_duplicates(subset=['case_number'], keep='last')  
    
    chunk.to_sql(
        'cc24_cases',
        engine,
        'ukgff',
        if_exists='append',  
        index=False,
    )

Processing chunk 0
2024-12-06 21:35:33,258 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where n.nspname=%(schema)s and relname=%(name)s
2024-12-06 21:35:33,259 INFO sqlalchemy.engine.base.Engine {'schema': 'ukgff', 'name': 'cc24_cases'}
2024-12-06 21:35:33,731 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2024-12-06 21:35:46,536 INFO sqlalchemy.engine.base.Engine INSERT INTO ukgff.cc24_cases (case_number, incident_date, iucr_code, nibrs_fbi_offense_code, arrest, domestic, updated_on) VALUES (%(case_number)s, %(incident_date)s, %(iucr_code)s, %(nibrs_fbi_offense_code)s, %(arrest)s, %(domestic)s, %(updated_on)s)
2024-12-06 21:35:46,538 INFO sqlalchemy.engine.base.Engine ({'case_number': 'HN549294', 'incident_date': '08/25/2007 09:22:18 AM', 'iucr_code': '0560', 'nibrs_fbi_offense_code': '08A', 'arrest': False, 'domestic': False, 'updated_on': '08/17/2015 03:03:40 PM'}, {'case_number': 'JE240540', 'incident_date': '05/24/2021 03:06:00 PM', 'iucr_code': '0110', 'nibrs_fbi_offense_code': '01A', 'arrest': True, 'domestic': False, 'updated_on': '11/18/2023 03:39:49 PM'}, {'case_number': 'JE279849', 'incident_date': '06/26/2021 09:24:00 AM', 'iucr_code': '0110', 'nibrs_fbi_offense_code': '01A', 'arrest': True, 'domestic': False, 'updated_on': '11/18/2023 03:39:49 PM'}, {'case_number': 'JG507211', 'incident_date': '11/09/2023 07:30:00 AM', 'iucr_code': '0620', 'nibrs_fbi_offense_code': '05', 'arrest': False, 'domestic': False, 'updated_on': '11/18/2023 03:39:49 PM'}, {'case_number': 'JG501049', 'incident_date': '11/12/2023 07:59:00 AM', 'iucr_code': '0454', 'nibrs_fbi_offense_code': '08B', 'arrest': True, 'domestic': False, 'updated_on': '12/09/2023 03:41:24 PM'}, {'case_number': 'HH109118', 'incident_date': '01/05/2002 09:24:00 PM', 'iucr_code': '0820', 'nibrs_fbi_offense_code': '06', 'arrest': True, 'domestic': False, 'updated_on': '02/04/2016 06:33:39 AM'}, {'case_number': 'JG415333', 'incident_date': '09/06/2023 05:00:00 PM', 'iucr_code': '1320', 'nibrs_fbi_offense_code': '14', 'arrest': False, 'domestic': False, 'updated_on': '11/04/2023 03:40:18 PM'}, {'case_number': 'JH406913', 'incident_date': '07/01/2024 12:00:00 AM', 'iucr_code': '1206', 'nibrs_fbi_offense_code': '11', 'arrest': False, 'domestic': False, 'updated_on': '09/03/2024 03:41:00 PM'}  ... displaying 10 of 499596 total bound parameter sets ...  {'case_number': 'G321473', 'incident_date': '06/03/2001 06:30:00 PM', 'iucr_code': '0460', 'nibrs_fbi_offense_code': '08B', 'arrest': False, 'domestic': True, 'updated_on': '08/17/2015 03:03:40 PM'}, {'case_number': 'G293716', 'incident_date': '05/21/2001 05:30:00 PM', 'iucr_code': '0320', 'nibrs_fbi_offense_code': '03', 'arrest': False, 'domestic': False, 'updated_on': '08/17/2015 03:03:40 PM'})
2024-12-06 21:37:49,031 INFO sqlalchemy.engine.base.Engine COMMIT
Processing chunk 1
2024-12-06 21:37:55,266 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where n.nspname=%(schema)s and relname=%(name)s
2024-12-06 21:37:55,267 INFO sqlalchemy.engine.base.Engine {'schema': 'ukgff', 'name': 'cc24_cases'}
2024-12-06 21:37:55,742 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2024-12-06 21:38:07,937 INFO sqlalchemy.engine.base.Engine INSERT INTO ukgff.cc24_cases (case_number, incident_date, iucr_code, nibrs_fbi_offense_code, arrest, domestic, updated_on) VALUES (%(case_number)s, %(incident_date)s, %(iucr_code)s, %(nibrs_fbi_offense_code)s, %(arrest)s, %(domestic)s, %(updated_on)s)
2024-12-06 21:38:07,938 INFO sqlalchemy.engine.base.Engine ({'case_number': 'G305165', 'incident_date': '05/26/2001 11:40:00 PM', 'iucr_code': '041A', 'nibrs_fbi_offense_code': '04B', 'arrest': False, 'domestic': False, 'updated_on': '08/17/2015 03:03:40 PM'}, {'case_number': 'G322649', 'incident_date': '06/04/2001 12:45:00 AM', 'iucr_code': '0820', 'nibrs_fbi_offense_code': '06', 'arrest': False, 'domestic': False, 'updated_on': '08/17/2015 03:03:40 PM'}, {'case_number': 'G381782', 'incident_date': '06/30/2001 05:05:15 PM', 'iucr_code': '5002', 'nibrs_fbi_offense_code': '26', 'arrest': True, 'domestic': False, 'updated_on': '08/17/2015 03:03:40 PM'}, {'case_number': 'G219441', 'incident_date': '04/17/2001 03:00:00 PM', 'iucr_code': '1310', 'nibrs_fbi_offense_code': '14', 'arrest': False, 'domestic': False, 'updated_on': '08/17/2015 03:03:40 PM'}, {'case_number': 'G443918', 'incident_date': '07/28/2001 04:30:00 AM', 'iucr_code': '1320', 'nibrs_fbi_offense_code': '14', 'arrest': False, 'domestic': False, 'updated_on': '08/17/2015 03:03:40 PM'}, {'case_number': 'G298869', 'incident_date': '05/24/2001 01:00:00 AM', 'iucr_code': '0810', 'nibrs_fbi_offense_code': '06', 'arrest': False, 'domestic': False, 'updated_on': '08/17/2015 03:03:40 PM'}, {'case_number': 'G314009', 'incident_date': '05/31/2001 01:00:00 AM', 'iucr_code': '1310', 'nibrs_fbi_offense_code': '14', 'arrest': False, 'domestic': False, 'updated_on': '08/17/2015 03:03:40 PM'}, {'case_number': 'G412490', 'incident_date': '07/14/2001 04:15:00 PM', 'iucr_code': '4387', 'nibrs_fbi_offense_code': '26', 'arrest': True, 'domestic': True, 'updated_on': '09/07/2021 03:41:02 PM'}  ... displaying 10 of 500000 total bound parameter sets ...  {'case_number': 'HH434210', 'incident_date': '06/10/2002 10:30:00 PM', 'iucr_code': '0820', 'nibrs_fbi_offense_code': '06', 'arrest': False, 'domestic': False, 'updated_on': '02/28/2018 03:56:25 PM'}, {'case_number': 'HH290514', 'incident_date': '04/06/2002 10:40:00 PM', 'iucr_code': '1811', 'nibrs_fbi_offense_code': '18', 'arrest': True, 'domestic': False, 'updated_on': '02/28/2018 03:56:25 PM'})
2024-12-06 21:40:14,082 INFO sqlalchemy.engine.base.Engine COMMIT
Processing chunk 2
2024-12-06 21:40:20,321 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where n.nspname=%(schema)s and relname=%(name)s
2024-12-06 21:40:20,322 INFO sqlalchemy.engine.base.Engine {'schema': 'ukgff', 'name': 'cc24_cases'}
2024-12-06 21:40:20,794 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2024-12-06 21:40:33,816 INFO sqlalchemy.engine.base.Engine INSERT INTO ukgff.cc24_cases (case_number, incident_date, iucr_code, nibrs_fbi_offense_code, arrest, domestic, updated_on) VALUES (%(case_number)s, %(incident_date)s, %(iucr_code)s, %(nibrs_fbi_offense_code)s, %(arrest)s, %(domestic)s, %(updated_on)s)
2024-12-06 21:40:33,818 INFO sqlalchemy.engine.base.Engine ({'case_number': 'HH299438', 'incident_date': '04/11/2002 05:04:00 AM', 'iucr_code': '0920', 'nibrs_fbi_offense_code': '07', 'arrest': False, 'domestic': False, 'updated_on': '02/28/2018 03:56:25 PM'}, {'case_number': 'HH334817', 'incident_date': '04/27/2002 03:51:06 PM', 'iucr_code': '0460', 'nibrs_fbi_offense_code': '08B', 'arrest': False, 'domestic': False, 'updated_on': '02/28/2018 03:56:25 PM'}, {'case_number': 'HH322028', 'incident_date': '04/17/2002 12:30:00 AM', 'iucr_code': '1320', 'nibrs_fbi_offense_code': '14', 'arrest': False, 'domestic': False, 'updated_on': '02/28/2018 03:56:25 PM'}, {'case_number': 'HH346723', 'incident_date': '05/01/2002 08:00:00 PM', 'iucr_code': '0460', 'nibrs_fbi_offense_code': '08B', 'arrest': False, 'domestic': True, 'updated_on': '02/28/2018 03:56:25 PM'}, {'case_number': 'HH299897', 'incident_date': '04/05/2002 01:15:00 PM', 'iucr_code': '1563', 'nibrs_fbi_offense_code': '17', 'arrest': False, 'domestic': False, 'updated_on': '02/28/2018 03:56:25 PM'}, {'case_number': 'HH417251', 'incident_date': '06/03/2002 09:59:00 PM', 'iucr_code': '143A', 'nibrs_fbi_offense_code': '15', 'arrest': True, 'domestic': False, 'updated_on': '02/10/2018 03:50:01 PM'}, {'case_number': 'HH330701', 'incident_date': '04/15/2002 05:30:00 PM', 'iucr_code': '0820', 'nibrs_fbi_offense_code': '06', 'arrest': False, 'domestic': False, 'updated_on': '02/28/2018 03:56:25 PM'}, {'case_number': 'HH241179', 'incident_date': '03/13/2002 09:30:00 PM', 'iucr_code': '0810', 'nibrs_fbi_offense_code': '06', 'arrest': False, 'domestic': False, 'updated_on': '02/28/2018 03:56:25 PM'}  ... displaying 10 of 500000 total bound parameter sets ...  {'case_number': 'HJ471785', 'incident_date': '07/04/2003 08:47:00 AM', 'iucr_code': '2027', 'nibrs_fbi_offense_code': '18', 'arrest': True, 'domestic': False, 'updated_on': '02/28/2018 03:56:25 PM'}, {'case_number': 'HJ414004', 'incident_date': '06/07/2003 08:00:00 PM', 'iucr_code': '041A', 'nibrs_fbi_offense_code': '04B', 'arrest': False, 'domestic': False, 'updated_on': '02/28/2018 03:56:25 PM'})

2024-12-06 21:42:40,533 INFO sqlalchemy.engine.base.Engine COMMIT
Processing chunk 3
2024-12-06 21:42:46,899 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where n.nspname=%(schema)s and relname=%(name)s
2024-12-06 21:42:46,901 INFO sqlalchemy.engine.base.Engine {'schema': 'ukgff', 'name': 'cc24_cases'}
2024-12-06 21:42:47,377 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2024-12-06 21:42:59,556 INFO sqlalchemy.engine.base.Engine INSERT INTO ukgff.cc24_cases (case_number, incident_date, iucr_code, nibrs_fbi_offense_code, arrest, domestic, updated_on) VALUES (%(case_number)s, %(incident_date)s, %(iucr_code)s, %(nibrs_fbi_offense_code)s, %(arrest)s, %(domestic)s, %(updated_on)s)
2024-12-06 21:42:59,558 INFO sqlalchemy.engine.base.Engine ({'case_number': 'HJ404153', 'incident_date': '06/03/2003 07:14:08 AM', 'iucr_code': '0610', 'nibrs_fbi_offense_code': '05', 'arrest': False, 'domestic': False, 'updated_on': '02/28/2018 03:56:25 PM'}, {'case_number': 'HJ388704', 'incident_date': '05/26/2003 10:00:00 PM', 'iucr_code': '1811', 'nibrs_fbi_offense_code': '18', 'arrest': True, 'domestic': False, 'updated_on': '02/28/2018 03:56:25 PM'}, {'case_number': 'HJ421769', 'incident_date': '06/11/2003 08:45:00 AM', 'iucr_code': '0810', 'nibrs_fbi_offense_code': '06', 'arrest': False, 'domestic': False, 'updated_on': '02/28/2018 03:56:25 PM'}, {'case_number': 'HJ506728', 'incident_date': '07/20/2003 12:15:00 AM', 'iucr_code': '0820', 'nibrs_fbi_offense_code': '06', 'arrest': False, 'domestic': False, 'updated_on': '02/28/2018 03:56:25 PM'}, {'case_number': 'HJ503906', 'incident_date': '07/19/2003 01:13:45 AM', 'iucr_code': '1310', 'nibrs_fbi_offense_code': '14', 'arrest': False, 'domestic': False, 'updated_on': '02/28/2018 03:56:25 PM'}, {'case_number': 'HJ531637', 'incident_date': '04/17/2003 08:55:00 AM', 'iucr_code': '2826', 'nibrs_fbi_offense_code': '26', 'arrest': False, 'domestic': True, 'updated_on': '02/28/2018 03:56:25 PM'}, {'case_number': 'HJ522264', 'incident_date': '07/27/2003 12:50:00 PM', 'iucr_code': '0860', 'nibrs_fbi_offense_code': '06', 'arrest': True, 'domestic': False, 'updated_on': '02/28/2018 03:56:25 PM'}, {'case_number': 'HJ394698', 'incident_date': '05/28/2003 07:10:00 PM', 'iucr_code': '0820', 'nibrs_fbi_offense_code': '06', 'arrest': False, 'domestic': False, 'updated_on': '02/28/2018 03:56:25 PM'}  ... displaying 10 of 500000 total bound parameter sets ...  {'case_number': 'HK355549', 'incident_date': '05/10/2004 03:35:00 PM', 'iucr_code': '0890', 'nibrs_fbi_offense_code': '06', 'arrest': True, 'domestic': False, 'updated_on': '02/28/2018 03:56:25 PM'}, {'case_number': 'HK316274', 'incident_date': '03/26/2004 12:01:00 AM', 'iucr_code': '2820', 'nibrs_fbi_offense_code': '26', 'arrest': False, 'domestic': False, 'updated_on': '02/28/2018 03:56:25 PM'})
2024-12-06 21:45:10,337 INFO sqlalchemy.engine.base.Engine COMMIT
Processing chunk 4
2024-12-06 21:45:16,443 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where n.nspname=%(schema)s and relname=%(name)s
2024-12-06 21:45:16,444 INFO sqlalchemy.engine.base.Engine {'schema': 'ukgff', 'name': 'cc24_cases'}
2024-12-06 21:45:16,917 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2024-12-06 21:45:29,973 INFO sqlalchemy.engine.base.Engine INSERT INTO ukgff.cc24_cases (case_number, incident_date, iucr_code, nibrs_fbi_offense_code, arrest, domestic, updated_on) VALUES (%(case_number)s, %(incident_date)s, %(iucr_code)s, %(nibrs_fbi_offense_code)s, %(arrest)s, %(domestic)s, %(updated_on)s)
2024-12-06 21:45:29,974 INFO sqlalchemy.engine.base.Engine ({'case_number': 'HK435494', 'incident_date': '06/08/2004 05:30:00 PM', 'iucr_code': '1120', 'nibrs_fbi_offense_code': '10', 'arrest': False, 'domestic': False, 'updated_on': '02/28/2018 03:56:25 PM'}, {'case_number': 'HK437671', 'incident_date': '06/17/2004 06:26:44 PM', 'iucr_code': '0486', 'nibrs_fbi_offense_code': '08B', 'arrest': False, 'domestic': True, 'updated_on': '09/07/2021 03:41:02 PM'}, {'case_number': 'HK319971', 'incident_date': '04/22/2004 08:00:00 PM', 'iucr_code': '0910', 'nibrs_fbi_offense_code': '07', 'arrest': False, 'domestic': False, 'updated_on': '02/28/2018 03:56:25 PM'}, {'case_number': 'HK411043', 'incident_date': '06/05/2004 04:15:00 PM', 'iucr_code': '0560', 'nibrs_fbi_offense_code': '08A', 'arrest': False, 'domestic': False, 'updated_on': '02/28/2018 03:56:25 PM'}, {'case_number': 'HK344853', 'incident_date': '05/05/2004 05:15:00 PM', 'iucr_code': '1811', 'nibrs_fbi_offense_code': '18', 'arrest': True, 'domestic': False, 'updated_on': '02/28/2018 03:56:25 PM'}, {'case_number': 'HK358421', 'incident_date': '05/12/2004 12:15:00 AM', 'iucr_code': '1310', 'nibrs_fbi_offense_code': '14', 'arrest': True, 'domestic': False, 'updated_on': '02/10/2018 03:50:01 PM'}, {'case_number': 'HK270678', 'incident_date': '03/29/2004 09:00:00 PM', 'iucr_code': '2024', 'nibrs_fbi_offense_code': '18', 'arrest': True, 'domestic': False, 'updated_on': '02/10/2018 03:50:01 PM'}, {'case_number': 'HK348294', 'incident_date': '05/07/2004 10:30:00 AM', 'iucr_code': '3100', 'nibrs_fbi_offense_code': '24', 'arrest': False, 'domestic': False, 'updated_on': '02/28/2018 03:56:25 PM'}  ... displaying 10 of 500000 total bound parameter sets ...  {'case_number': 'HL423721', 'incident_date': '06/16/2005 01:31:40 AM', 'iucr_code': '0486', 'nibrs_fbi_offense_code': '08B', 'arrest': False, 'domestic': True, 'updated_on': '02/28/2018 03:56:25 PM'}, {'case_number': 'HL398918', 'incident_date': '06/04/2005 03:00:00 PM', 'iucr_code': '0560', 'nibrs_fbi_offense_code': '08A', 'arrest': True, 'domestic': False, 'updated_on': '02/28/2018 03:56:25 PM'})
2024-12-06 21:47:42,277 INFO sqlalchemy.engine.base.Engine COMMIT
Processing chunk 5
2024-12-06 21:47:48,601 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where n.nspname=%(schema)s and relname=%(name)s
2024-12-06 21:47:48,602 INFO sqlalchemy.engine.base.Engine {'schema': 'ukgff', 'name': 'cc24_cases'}
2024-12-06 21:47:49,080 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2024-12-06 21:48:01,411 INFO sqlalchemy.engine.base.Engine INSERT INTO ukgff.cc24_cases (case_number, incident_date, iucr_code, nibrs_fbi_offense_code, arrest, domestic, updated_on) VALUES (%(case_number)s, %(incident_date)s, %(iucr_code)s, %(nibrs_fbi_offense_code)s, %(arrest)s, %(domestic)s, %(updated_on)s)
2024-12-06 21:48:01,412 INFO sqlalchemy.engine.base.Engine ({'case_number': 'HL503582', 'incident_date': '07/22/2005 06:00:00 PM', 'iucr_code': '0620', 'nibrs_fbi_offense_code': '05', 'arrest': False, 'domestic': False, 'updated_on': '02/28/2018 03:56:25 PM'}, {'case_number': 'HL482628', 'incident_date': '07/14/2005 04:45:00 AM', 'iucr_code': '0810', 'nibrs_fbi_offense_code': '06', 'arrest': False, 'domestic': False, 'updated_on': '02/28/2018 03:56:25 PM'}, {'case_number': 'HL601425', 'incident_date': '09/09/2005 03:45:00 PM', 'iucr_code': '0560', 'nibrs_fbi_offense_code': '08A', 'arrest': False, 'domestic': False, 'updated_on': '02/28/2018 03:56:25 PM'}, {'case_number': 'HL572893', 'incident_date': '08/26/2005 09:00:00 AM', 'iucr_code': '0890', 'nibrs_fbi_offense_code': '06', 'arrest': False, 'domestic': False, 'updated_on': '02/28/2018 03:56:25 PM'}, {'case_number': 'HL467799', 'incident_date': '07/07/2005 08:26:33 AM', 'iucr_code': '2825', 'nibrs_fbi_offense_code': '26', 'arrest': False, 'domestic': True, 'updated_on': '09/07/2021 03:41:02 PM'}, {'case_number': 'HL508604', 'incident_date': '07/25/2005 08:00:00 AM', 'iucr_code': '0910', 'nibrs_fbi_offense_code': '07', 'arrest': False, 'domestic': False, 'updated_on': '02/28/2018 03:56:25 PM'}, {'case_number': 'HL484506', 'incident_date': '07/14/2005 10:15:00 PM', 'iucr_code': '0460', 'nibrs_fbi_offense_code': '08B', 'arrest': False, 'domestic': False, 'updated_on': '02/28/2018 03:56:25 PM'}, {'case_number': 'HL594901', 'incident_date': '09/06/2005 01:00:00 PM', 'iucr_code': '1330', 'nibrs_fbi_offense_code': '26', 'arrest': True, 'domestic': False, 'updated_on': '02/10/2018 03:50:01 PM'}  ... displaying 10 of 500000 total bound parameter sets ...  {'case_number': 'HM699210', 'incident_date': '11/03/2006 01:30:00 PM', 'iucr_code': '1330', 'nibrs_fbi_offense_code': '26', 'arrest': True, 'domestic': False, 'updated_on': '02/28/2018 03:56:25 PM'}, {'case_number': 'HM749684', 'incident_date': '11/30/2006 04:51:48 PM', 'iucr_code': '0910', 'nibrs_fbi_offense_code': '07', 'arrest': False, 'domestic': False, 'updated_on': '02/28/2018 03:56:25 PM'})

2024-12-06 21:50:15,572 INFO sqlalchemy.engine.base.Engine COMMIT
Processing chunk 6
2024-12-06 21:50:21,850 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where n.nspname=%(schema)s and relname=%(name)s
2024-12-06 21:50:21,852 INFO sqlalchemy.engine.base.Engine {'schema': 'ukgff', 'name': 'cc24_cases'}
2024-12-06 21:50:22,326 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2024-12-06 21:50:35,397 INFO sqlalchemy.engine.base.Engine INSERT INTO ukgff.cc24_cases (case_number, incident_date, iucr_code, nibrs_fbi_offense_code, arrest, domestic, updated_on) VALUES (%(case_number)s, %(incident_date)s, %(iucr_code)s, %(nibrs_fbi_offense_code)s, %(arrest)s, %(domestic)s, %(updated_on)s)
2024-12-06 21:50:35,398 INFO sqlalchemy.engine.base.Engine ({'case_number': 'HM746514', 'incident_date': '11/28/2006 06:30:00 PM', 'iucr_code': '0610', 'nibrs_fbi_offense_code': '05', 'arrest': False, 'domestic': False, 'updated_on': '02/28/2018 03:56:25 PM'}, {'case_number': 'HM643800', 'incident_date': '10/05/2006 07:20:00 PM', 'iucr_code': '0610', 'nibrs_fbi_offense_code': '05', 'arrest': False, 'domestic': False, 'updated_on': '02/10/2018 03:50:01 PM'}, {'case_number': 'HM571157', 'incident_date': '08/30/2006 11:00:00 AM', 'iucr_code': '0810', 'nibrs_fbi_offense_code': '06', 'arrest': False, 'domestic': False, 'updated_on': '02/28/2018 03:56:25 PM'}, {'case_number': 'HM741967', 'incident_date': '11/26/2006 07:51:54 PM', 'iucr_code': '1310', 'nibrs_fbi_offense_code': '14', 'arrest': False, 'domestic': False, 'updated_on': '02/28/2018 03:56:25 PM'}, {'case_number': 'HM599637', 'incident_date': '09/13/2006 07:15:00 PM', 'iucr_code': '2825', 'nibrs_fbi_offense_code': '26', 'arrest': False, 'domestic': False, 'updated_on': '02/10/2018 03:50:01 PM'}, {'case_number': 'HM628198', 'incident_date': '09/25/2006 02:00:00 PM', 'iucr_code': '0890', 'nibrs_fbi_offense_code': '06', 'arrest': False, 'domestic': False, 'updated_on': '02/28/2018 03:56:25 PM'}, {'case_number': 'HM559633', 'incident_date': '08/24/2006 02:01:22 PM', 'iucr_code': '2028', 'nibrs_fbi_offense_code': '18', 'arrest': True, 'domestic': False, 'updated_on': '02/28/2018 03:56:25 PM'}, {'case_number': 'HM594674', 'incident_date': '09/11/2006 12:47:03 PM', 'iucr_code': '0610', 'nibrs_fbi_offense_code': '05', 'arrest': False, 'domestic': False, 'updated_on': '02/28/2018 03:56:25 PM'}  ... displaying 10 of 500000 total bound parameter sets ...  {'case_number': 'HN713541', 'incident_date': '11/17/2007 09:10:00 PM', 'iucr_code': '0910', 'nibrs_fbi_offense_code': '07', 'arrest': False, 'domestic': False, 'updated_on': '02/28/2018 03:56:25 PM'}, {'case_number': 'HN545558', 'incident_date': '08/14/2007 08:05:00 PM', 'iucr_code': '2820', 'nibrs_fbi_offense_code': '26', 'arrest': False, 'domestic': True, 'updated_on': '02/28/2018 03:56:25 PM'})
2024-12-06 21:52:46,862 INFO sqlalchemy.engine.base.Engine COMMIT
Processing chunk 7
2024-12-06 21:52:53,021 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where n.nspname=%(schema)s and relname=%(name)s
2024-12-06 21:52:53,023 INFO sqlalchemy.engine.base.Engine {'schema': 'ukgff', 'name': 'cc24_cases'}
2024-12-06 21:52:53,474 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2024-12-06 21:53:05,578 INFO sqlalchemy.engine.base.Engine INSERT INTO ukgff.cc24_cases (case_number, incident_date, iucr_code, nibrs_fbi_offense_code, arrest, domestic, updated_on) VALUES (%(case_number)s, %(incident_date)s, %(iucr_code)s, %(nibrs_fbi_offense_code)s, %(arrest)s, %(domestic)s, %(updated_on)s)
2024-12-06 21:53:05,579 INFO sqlalchemy.engine.base.Engine ({'case_number': 'HN544028', 'incident_date': '08/22/2007 05:30:00 AM', 'iucr_code': '0820', 'nibrs_fbi_offense_code': '06', 'arrest': False, 'domestic': False, 'updated_on': '02/28/2018 03:56:25 PM'}, {'case_number': 'HN605711', 'incident_date': '09/23/2007 12:58:44 AM', 'iucr_code': '0460', 'nibrs_fbi_offense_code': '08B', 'arrest': True, 'domestic': False, 'updated_on': '02/10/2018 03:50:01 PM'}, {'case_number': 'HN703058', 'incident_date': '11/09/2007 08:00:00 PM', 'iucr_code': '0910', 'nibrs_fbi_offense_code': '07', 'arrest': False, 'domestic': False, 'updated_on': '02/28/2018 03:56:25 PM'}, {'case_number': 'HN624143', 'incident_date': '10/02/2007 11:30:00 AM', 'iucr_code': '0312', 'nibrs_fbi_offense_code': '03', 'arrest': False, 'domestic': False, 'updated_on': '02/28/2018 03:56:25 PM'}, {'case_number': 'HN660300', 'incident_date': '10/20/2007 09:30:00 PM', 'iucr_code': '0560', 'nibrs_fbi_offense_code': '08A', 'arrest': True, 'domestic': False, 'updated_on': '02/28/2018 03:56:25 PM'}, {'case_number': 'HN531917', 'incident_date': '08/16/2007 03:15:00 AM', 'iucr_code': '0460', 'nibrs_fbi_offense_code': '08B', 'arrest': False, 'domestic': False, 'updated_on': '02/28/2018 03:56:25 PM'}, {'case_number': 'HN704894', 'incident_date': '11/13/2007 01:30:00 PM', 'iucr_code': '1310', 'nibrs_fbi_offense_code': '14', 'arrest': True, 'domestic': False, 'updated_on': '02/28/2018 03:56:25 PM'}, {'case_number': 'HN670271', 'incident_date': '10/26/2007 05:28:52 AM', 'iucr_code': '1360', 'nibrs_fbi_offense_code': '26', 'arrest': False, 'domestic': True, 'updated_on': '09/07/2021 03:41:02 PM'}  ... displaying 10 of 500000 total bound parameter sets ...  {'case_number': 'HR189868', 'incident_date': '02/26/2009 04:30:00 PM', 'iucr_code': '0810', 'nibrs_fbi_offense_code': '06', 'arrest': False, 'domestic': False, 'updated_on': '02/28/2018 03:56:25 PM'}, {'case_number': 'HR163147', 'incident_date': '02/10/2009 11:02:00 AM', 'iucr_code': '0620', 'nibrs_fbi_offense_code': '05', 'arrest': True, 'domestic': False, 'updated_on': '02/28/2018 03:56:25 PM'})
2024-12-06 21:55:15,635 INFO sqlalchemy.engine.base.Engine COMMIT
Processing chunk 8
2024-12-06 21:55:21,782 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where n.nspname=%(schema)s and relname=%(name)s
2024-12-06 21:55:21,783 INFO sqlalchemy.engine.base.Engine {'schema': 'ukgff', 'name': 'cc24_cases'}
2024-12-06 21:55:22,249 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2024-12-06 21:55:35,089 INFO sqlalchemy.engine.base.Engine INSERT INTO ukgff.cc24_cases (case_number, incident_date, iucr_code, nibrs_fbi_offense_code, arrest, domestic, updated_on) VALUES (%(case_number)s, %(incident_date)s, %(iucr_code)s, %(nibrs_fbi_offense_code)s, %(arrest)s, %(domestic)s, %(updated_on)s)
2024-12-06 21:55:35,090 INFO sqlalchemy.engine.base.Engine ({'case_number': 'HP752921', 'incident_date': '12/27/2008 01:38:00 PM', 'iucr_code': '141C', 'nibrs_fbi_offense_code': '15', 'arrest': True, 'domestic': False, 'updated_on': '02/28/2018 03:56:25 PM'}, {'case_number': 'HP757076', 'incident_date': '12/30/2008 01:00:00 AM', 'iucr_code': '0486', 'nibrs_fbi_offense_code': '08B', 'arrest': False, 'domestic': True, 'updated_on': '09/07/2021 03:41:02 PM'}, {'case_number': 'HR104948', 'incident_date': '01/04/2009 03:15:00 AM', 'iucr_code': '0610', 'nibrs_fbi_offense_code': '05', 'arrest': False, 'domestic': False, 'updated_on': '02/04/2016 06:33:39 AM'}, {'case_number': 'HR179386', 'incident_date': '02/19/2009 11:52:36 PM', 'iucr_code': '0630', 'nibrs_fbi_offense_code': '05', 'arrest': False, 'domestic': False, 'updated_on': '02/28/2018 03:56:25 PM'}, {'case_number': 'HR146601', 'incident_date': '01/30/2009 06:30:00 PM', 'iucr_code': '0460', 'nibrs_fbi_offense_code': '08B', 'arrest': False, 'domestic': False, 'updated_on': '02/28/2018 03:56:25 PM'}, {'case_number': 'HP700525', 'incident_date': '11/24/2008 04:00:00 AM', 'iucr_code': '0810', 'nibrs_fbi_offense_code': '06', 'arrest': False, 'domestic': False, 'updated_on': '02/28/2018 03:56:25 PM'}, {'case_number': 'HP718856', 'incident_date': '12/05/2008 10:45:00 PM', 'iucr_code': '0320', 'nibrs_fbi_offense_code': '03', 'arrest': True, 'domestic': False, 'updated_on': '02/28/2018 03:56:25 PM'}, {'case_number': 'HP737507', 'incident_date': '12/16/2008 09:00:00 AM', 'iucr_code': '1150', 'nibrs_fbi_offense_code': '11', 'arrest': False, 'domestic': False, 'updated_on': '02/28/2018 03:56:25 PM'}  ... displaying 10 of 500000 total bound parameter sets ...  {'case_number': 'HS235420', 'incident_date': '03/31/2010 09:20:00 PM', 'iucr_code': '031A', 'nibrs_fbi_offense_code': '03', 'arrest': False, 'domestic': False, 'updated_on': '02/10/2018 03:50:01 PM'}, {'case_number': 'HS226160', 'incident_date': '03/26/2010 01:10:00 AM', 'iucr_code': '2220', 'nibrs_fbi_offense_code': '22', 'arrest': True, 'domestic': False, 'updated_on': '02/10/2018 03:50:01 PM'})

2024-12-06 21:57:48,032 INFO sqlalchemy.engine.base.Engine COMMIT
Processing chunk 9
2024-12-06 21:57:54,314 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where n.nspname=%(schema)s and relname=%(name)s
2024-12-06 21:57:54,315 INFO sqlalchemy.engine.base.Engine {'schema': 'ukgff', 'name': 'cc24_cases'}
2024-12-06 21:57:54,787 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2024-12-06 21:58:07,020 INFO sqlalchemy.engine.base.Engine INSERT INTO ukgff.cc24_cases (case_number, incident_date, iucr_code, nibrs_fbi_offense_code, arrest, domestic, updated_on) VALUES (%(case_number)s, %(incident_date)s, %(iucr_code)s, %(nibrs_fbi_offense_code)s, %(arrest)s, %(domestic)s, %(updated_on)s)
2024-12-06 21:58:07,022 INFO sqlalchemy.engine.base.Engine ({'case_number': 'HS278579', 'incident_date': '04/27/2010 01:00:00 PM', 'iucr_code': '0320', 'nibrs_fbi_offense_code': '03', 'arrest': False, 'domestic': False, 'updated_on': '02/10/2018 03:50:01 PM'}, {'case_number': 'HR697178', 'incident_date': '12/19/2009 02:30:00 AM', 'iucr_code': '1310', 'nibrs_fbi_offense_code': '14', 'arrest': False, 'domestic': False, 'updated_on': '02/28/2018 03:56:25 PM'}, {'case_number': 'HS246063', 'incident_date': '04/07/2010 03:10:00 PM', 'iucr_code': '0560', 'nibrs_fbi_offense_code': '08A', 'arrest': False, 'domestic': True, 'updated_on': '02/10/2018 03:50:01 PM'}, {'case_number': 'HS143148', 'incident_date': '01/29/2010 10:05:00 PM', 'iucr_code': '0497', 'nibrs_fbi_offense_code': '04B', 'arrest': False, 'domestic': True, 'updated_on': '02/10/2018 03:50:01 PM'}, {'case_number': 'HR687173', 'incident_date': '12/13/2009 07:25:00 AM', 'iucr_code': '1506', 'nibrs_fbi_offense_code': '16', 'arrest': True, 'domestic': False, 'updated_on': '02/28/2018 03:56:25 PM'}, {'case_number': 'HR429844', 'incident_date': '07/14/2009 01:30:00 PM', 'iucr_code': '0841', 'nibrs_fbi_offense_code': '06', 'arrest': False, 'domestic': False, 'updated_on': '02/28/2018 03:56:25 PM'}, {'case_number': 'HS127909', 'incident_date': '01/19/2010 05:15:00 PM', 'iucr_code': '0560', 'nibrs_fbi_offense_code': '08A', 'arrest': False, 'domestic': False, 'updated_on': '02/10/2018 03:50:01 PM'}, {'case_number': 'HR707426', 'incident_date': '12/27/2009 12:15:00 PM', 'iucr_code': '2024', 'nibrs_fbi_offense_code': '18', 'arrest': True, 'domestic': False, 'updated_on': '02/28/2018 03:56:25 PM'}  ... displaying 10 of 500000 total bound parameter sets ...  {'case_number': 'HT401821', 'incident_date': '07/17/2011 02:09:00 PM', 'iucr_code': '1310', 'nibrs_fbi_offense_code': '14', 'arrest': True, 'domestic': False, 'updated_on': '02/10/2018 03:50:01 PM'}, {'case_number': 'HT371085', 'incident_date': '06/29/2011 12:35:00 AM', 'iucr_code': '1310', 'nibrs_fbi_offense_code': '14', 'arrest': True, 'domestic': True, 'updated_on': '02/10/2018 03:50:01 PM'})
2024-12-06 22:00:34,871 INFO sqlalchemy.engine.base.Engine COMMIT
Processing chunk 10
2024-12-06 22:00:41,448 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where n.nspname=%(schema)s and relname=%(name)s
2024-12-06 22:00:41,449 INFO sqlalchemy.engine.base.Engine {'schema': 'ukgff', 'name': 'cc24_cases'}
2024-12-06 22:00:41,968 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2024-12-06 22:00:55,071 INFO sqlalchemy.engine.base.Engine INSERT INTO ukgff.cc24_cases (case_number, incident_date, iucr_code, nibrs_fbi_offense_code, arrest, domestic, updated_on) VALUES (%(case_number)s, %(incident_date)s, %(iucr_code)s, %(nibrs_fbi_offense_code)s, %(arrest)s, %(domestic)s, %(updated_on)s)
2024-12-06 22:00:55,072 INFO sqlalchemy.engine.base.Engine ({'case_number': 'HT412848', 'incident_date': '07/24/2011 04:00:00 AM', 'iucr_code': '0460', 'nibrs_fbi_offense_code': '08B', 'arrest': False, 'domestic': False, 'updated_on': '02/10/2018 03:50:01 PM'}, {'case_number': 'HT531604', 'incident_date': '10/07/2011 09:30:00 AM', 'iucr_code': '0620', 'nibrs_fbi_offense_code': '05', 'arrest': False, 'domestic': False, 'updated_on': '02/10/2018 03:50:01 PM'}, {'case_number': 'HT409485', 'incident_date': '07/22/2011 02:55:00 AM', 'iucr_code': '0610', 'nibrs_fbi_offense_code': '05', 'arrest': True, 'domestic': False, 'updated_on': '02/10/2018 03:50:01 PM'}, {'case_number': 'HT508028', 'incident_date': '09/21/2011 09:00:00 PM', 'iucr_code': '031A', 'nibrs_fbi_offense_code': '03', 'arrest': False, 'domestic': False, 'updated_on': '02/10/2018 03:50:01 PM'}, {'case_number': 'HT416885', 'incident_date': '07/26/2011 04:45:00 PM', 'iucr_code': '1811', 'nibrs_fbi_offense_code': '18', 'arrest': True, 'domestic': False, 'updated_on': '02/10/2018 03:50:01 PM'}, {'case_number': 'HT502545', 'incident_date': '09/18/2011 11:30:00 AM', 'iucr_code': '0460', 'nibrs_fbi_offense_code': '08B', 'arrest': False, 'domestic': False, 'updated_on': '02/10/2018 03:50:01 PM'}, {'case_number': 'HT513250', 'incident_date': '09/25/2011 12:00:00 AM', 'iucr_code': '1320', 'nibrs_fbi_offense_code': '14', 'arrest': False, 'domestic': False, 'updated_on': '02/10/2018 03:50:01 PM'}, {'case_number': 'HT430648', 'incident_date': '08/03/2011 05:00:00 PM', 'iucr_code': '0910', 'nibrs_fbi_offense_code': '07', 'arrest': False, 'domestic': False, 'updated_on': '02/10/2018 03:50:01 PM'}  ... displaying 10 of 500000 total bound parameter sets ...  {'case_number': 'HW162840', 'incident_date': '02/19/2013 02:00:00 AM', 'iucr_code': '0890', 'nibrs_fbi_offense_code': '06', 'arrest': False, 'domestic': False, 'updated_on': '02/10/2018 03:50:01 PM'}, {'case_number': 'HW248519', 'incident_date': '04/26/2013 11:20:00 AM', 'iucr_code': '0460', 'nibrs_fbi_offense_code': '08B', 'arrest': False, 'domestic': False, 'updated_on': '02/10/2018 03:50:01 PM'})
2024-12-06 22:03:23,903 INFO sqlalchemy.engine.base.Engine COMMIT
Processing chunk 11
2024-12-06 22:03:30,137 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where n.nspname=%(schema)s and relname=%(name)s
2024-12-06 22:03:30,138 INFO sqlalchemy.engine.base.Engine {'schema': 'ukgff', 'name': 'cc24_cases'}
2024-12-06 22:03:30,612 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2024-12-06 22:03:42,847 INFO sqlalchemy.engine.base.Engine INSERT INTO ukgff.cc24_cases (case_number, incident_date, iucr_code, nibrs_fbi_offense_code, arrest, domestic, updated_on) VALUES (%(case_number)s, %(incident_date)s, %(iucr_code)s, %(nibrs_fbi_offense_code)s, %(arrest)s, %(domestic)s, %(updated_on)s)
2024-12-06 22:03:42,851 INFO sqlalchemy.engine.base.Engine ({'case_number': 'HW247102', 'incident_date': '04/25/2013 07:45:00 AM', 'iucr_code': '0870', 'nibrs_fbi_offense_code': '06', 'arrest': False, 'domestic': False, 'updated_on': '02/10/2018 03:50:01 PM'}, {'case_number': 'HW335147', 'incident_date': '06/25/2013 05:30:00 PM', 'iucr_code': '0810', 'nibrs_fbi_offense_code': '06', 'arrest': False, 'domestic': False, 'updated_on': '02/10/2018 03:50:01 PM'}, {'case_number': 'HW337825', 'incident_date': '06/27/2013 01:00:00 PM', 'iucr_code': '1310', 'nibrs_fbi_offense_code': '14', 'arrest': False, 'domestic': False, 'updated_on': '02/10/2018 03:50:01 PM'}, {'case_number': 'HW258611', 'incident_date': '05/03/2013 06:00:00 AM', 'iucr_code': '0910', 'nibrs_fbi_offense_code': '07', 'arrest': False, 'domestic': False, 'updated_on': '02/10/2018 03:50:01 PM'}, {'case_number': 'HW347411', 'incident_date': '07/04/2013 05:00:00 AM', 'iucr_code': '0496', 'nibrs_fbi_offense_code': '04B', 'arrest': False, 'domestic': True, 'updated_on': '02/10/2018 03:50:01 PM'}, {'case_number': 'HW344494', 'incident_date': '07/01/2013 07:00:00 PM', 'iucr_code': '0920', 'nibrs_fbi_offense_code': '07', 'arrest': False, 'domestic': False, 'updated_on': '02/10/2018 03:50:01 PM'}, {'case_number': 'HW274493', 'incident_date': '05/14/2013 07:45:00 PM', 'iucr_code': '0460', 'nibrs_fbi_offense_code': '08B', 'arrest': False, 'domestic': False, 'updated_on': '02/10/2018 03:50:01 PM'}, {'case_number': 'HW261842', 'incident_date': '05/05/2013 10:20:00 PM', 'iucr_code': '1330', 'nibrs_fbi_offense_code': '26', 'arrest': True, 'domestic': False, 'updated_on': '02/10/2018 03:50:01 PM'}  ... displaying 10 of 500000 total bound parameter sets ...  {'case_number': 'HX556503', 'incident_date': '12/24/2014 01:00:00 PM', 'iucr_code': '0486', 'nibrs_fbi_offense_code': '08B', 'arrest': False, 'domestic': True, 'updated_on': '02/10/2018 03:50:01 PM'}, {'case_number': 'HX370166', 'incident_date': '08/01/2014 10:00:00 PM', 'iucr_code': '0460', 'nibrs_fbi_offense_code': '08B', 'arrest': True, 'domestic': False, 'updated_on': '02/10/2018 03:50:01 PM'})

2024-12-06 22:06:13,127 INFO sqlalchemy.engine.base.Engine COMMIT
Processing chunk 12
2024-12-06 22:06:19,317 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where n.nspname=%(schema)s and relname=%(name)s
2024-12-06 22:06:19,319 INFO sqlalchemy.engine.base.Engine {'schema': 'ukgff', 'name': 'cc24_cases'}
2024-12-06 22:06:19,790 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2024-12-06 22:06:32,842 INFO sqlalchemy.engine.base.Engine INSERT INTO ukgff.cc24_cases (case_number, incident_date, iucr_code, nibrs_fbi_offense_code, arrest, domestic, updated_on) VALUES (%(case_number)s, %(incident_date)s, %(iucr_code)s, %(nibrs_fbi_offense_code)s, %(arrest)s, %(domestic)s, %(updated_on)s)
2024-12-06 22:06:32,844 INFO sqlalchemy.engine.base.Engine ({'case_number': 'HX533914', 'incident_date': '12/07/2014 11:00:00 AM', 'iucr_code': '0610', 'nibrs_fbi_offense_code': '05', 'arrest': False, 'domestic': False, 'updated_on': '02/10/2018 03:50:01 PM'}, {'case_number': 'HX379716', 'incident_date': '08/08/2014 07:30:00 PM', 'iucr_code': '0910', 'nibrs_fbi_offense_code': '07', 'arrest': False, 'domestic': False, 'updated_on': '02/10/2018 03:50:01 PM'}, {'case_number': 'HX344182', 'incident_date': '07/14/2014 12:40:00 AM', 'iucr_code': '0497', 'nibrs_fbi_offense_code': '04B', 'arrest': True, 'domestic': True, 'updated_on': '09/07/2021 03:41:02 PM'}, {'case_number': 'HX421346', 'incident_date': '09/09/2014 03:00:00 AM', 'iucr_code': '0820', 'nibrs_fbi_offense_code': '06', 'arrest': False, 'domestic': False, 'updated_on': '02/10/2018 03:50:01 PM'}, {'case_number': 'HX489153', 'incident_date': '10/30/2014 07:00:00 PM', 'iucr_code': '0820', 'nibrs_fbi_offense_code': '06', 'arrest': False, 'domestic': False, 'updated_on': '02/10/2018 03:50:01 PM'}, {'case_number': 'HX542705', 'incident_date': '12/15/2014 12:01:00 AM', 'iucr_code': '0820', 'nibrs_fbi_offense_code': '06', 'arrest': False, 'domestic': False, 'updated_on': '02/10/2018 03:50:01 PM'}, {'case_number': 'HX373122', 'incident_date': '08/04/2014 01:32:00 AM', 'iucr_code': '0530', 'nibrs_fbi_offense_code': '04A', 'arrest': False, 'domestic': True, 'updated_on': '02/10/2018 03:50:01 PM'}, {'case_number': 'HX426763', 'incident_date': '09/12/2014 08:00:00 PM', 'iucr_code': '0820', 'nibrs_fbi_offense_code': '06', 'arrest': False, 'domestic': False, 'updated_on': '02/10/2018 03:50:01 PM'}  ... displaying 10 of 500000 total bound parameter sets ...  {'case_number': 'HZ476847', 'incident_date': '10/16/2016 04:30:00 PM', 'iucr_code': '1121', 'nibrs_fbi_offense_code': '10', 'arrest': False, 'domestic': False, 'updated_on': '02/10/2018 03:50:01 PM'}, {'case_number': 'HZ467471', 'incident_date': '10/09/2016 02:07:00 PM', 'iucr_code': '0820', 'nibrs_fbi_offense_code': '06', 'arrest': False, 'domestic': False, 'updated_on': '02/10/2018 03:50:01 PM'})
2024-12-06 22:09:16,321 INFO sqlalchemy.engine.base.Engine COMMIT
Processing chunk 13
2024-12-06 22:09:22,586 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where n.nspname=%(schema)s and relname=%(name)s
2024-12-06 22:09:22,587 INFO sqlalchemy.engine.base.Engine {'schema': 'ukgff', 'name': 'cc24_cases'}
2024-12-06 22:09:23,052 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2024-12-06 22:09:35,311 INFO sqlalchemy.engine.base.Engine INSERT INTO ukgff.cc24_cases (case_number, incident_date, iucr_code, nibrs_fbi_offense_code, arrest, domestic, updated_on) VALUES (%(case_number)s, %(incident_date)s, %(iucr_code)s, %(nibrs_fbi_offense_code)s, %(arrest)s, %(domestic)s, %(updated_on)s)
2024-12-06 22:09:35,313 INFO sqlalchemy.engine.base.Engine ({'case_number': 'HZ454598', 'incident_date': '09/28/2016 09:00:00 PM', 'iucr_code': '5000', 'nibrs_fbi_offense_code': '26', 'arrest': False, 'domestic': True, 'updated_on': '02/10/2018 03:50:01 PM'}, {'case_number': 'HZ502907', 'incident_date': '11/04/2016 02:30:00 AM', 'iucr_code': '0910', 'nibrs_fbi_offense_code': '07', 'arrest': False, 'domestic': False, 'updated_on': '02/10/2018 03:50:01 PM'}, {'case_number': 'JA102904', 'incident_date': '01/03/2017 03:00:00 PM', 'iucr_code': '0486', 'nibrs_fbi_offense_code': '08B', 'arrest': False, 'domestic': True, 'updated_on': '02/14/2017 03:49:42 PM'}, {'case_number': 'HZ432001', 'incident_date': '09/13/2016 09:20:00 AM', 'iucr_code': '0460', 'nibrs_fbi_offense_code': '08B', 'arrest': True, 'domestic': False, 'updated_on': '02/10/2018 03:50:01 PM'}, {'case_number': 'HZ462916', 'incident_date': '10/05/2016 11:50:00 PM', 'iucr_code': '0496', 'nibrs_fbi_offense_code': '04B', 'arrest': True, 'domestic': True, 'updated_on': '02/10/2018 03:50:01 PM'}, {'case_number': 'JA114786', 'incident_date': '01/10/2017 07:00:00 PM', 'iucr_code': '1153', 'nibrs_fbi_offense_code': '11', 'arrest': False, 'domestic': False, 'updated_on': '02/10/2018 03:50:01 PM'}, {'case_number': 'HZ415232', 'incident_date': '08/01/2016 12:00:00 AM', 'iucr_code': '1153', 'nibrs_fbi_offense_code': '11', 'arrest': False, 'domestic': False, 'updated_on': '02/10/2018 03:50:01 PM'}, {'case_number': 'HZ502206', 'incident_date': '11/04/2016 01:54:00 PM', 'iucr_code': '0460', 'nibrs_fbi_offense_code': '08B', 'arrest': True, 'domestic': False, 'updated_on': '02/10/2018 03:50:01 PM'}  ... displaying 10 of 500000 total bound parameter sets ...  {'case_number': 'JB464858', 'incident_date': '10/06/2018 11:00:00 AM', 'iucr_code': '0820', 'nibrs_fbi_offense_code': '06', 'arrest': False, 'domestic': False, 'updated_on': '10/13/2018 03:59:35 PM'}, {'case_number': 'JB410265', 'incident_date': '08/27/2018 02:30:00 AM', 'iucr_code': '0620', 'nibrs_fbi_offense_code': '05', 'arrest': False, 'domestic': False, 'updated_on': '09/05/2018 03:57:10 PM'})
2024-12-06 22:12:04,320 INFO sqlalchemy.engine.base.Engine COMMIT
Processing chunk 14
2024-12-06 22:12:10,575 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where n.nspname=%(schema)s and relname=%(name)s
2024-12-06 22:12:10,576 INFO sqlalchemy.engine.base.Engine {'schema': 'ukgff', 'name': 'cc24_cases'}
2024-12-06 22:12:11,036 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2024-12-06 22:12:24,905 INFO sqlalchemy.engine.base.Engine INSERT INTO ukgff.cc24_cases (case_number, incident_date, iucr_code, nibrs_fbi_offense_code, arrest, domestic, updated_on) VALUES (%(case_number)s, %(incident_date)s, %(iucr_code)s, %(nibrs_fbi_offense_code)s, %(arrest)s, %(domestic)s, %(updated_on)s)
2024-12-06 22:12:24,906 INFO sqlalchemy.engine.base.Engine ({'case_number': 'JB475423', 'incident_date': '10/14/2018 03:30:00 PM', 'iucr_code': '1121', 'nibrs_fbi_offense_code': '10', 'arrest': False, 'domestic': False, 'updated_on': '10/25/2018 04:10:05 PM'}, {'case_number': 'JB466045', 'incident_date': '10/07/2018 12:45:00 PM', 'iucr_code': '2023', 'nibrs_fbi_offense_code': '18', 'arrest': True, 'domestic': False, 'updated_on': '10/14/2018 04:09:28 PM'}, {'case_number': 'JB558230', 'incident_date': '12/18/2018 05:30:00 AM', 'iucr_code': '0820', 'nibrs_fbi_offense_code': '06', 'arrest': False, 'domestic': False, 'updated_on': '12/25/2018 04:12:35 PM'}, {'case_number': 'JB479009', 'incident_date': '10/17/2018 12:00:00 PM', 'iucr_code': '1780', 'nibrs_fbi_offense_code': '20', 'arrest': False, 'domestic': False, 'updated_on': '10/24/2018 04:22:11 PM'}, {'case_number': 'JB418074', 'incident_date': '08/15/2018 02:00:00 PM', 'iucr_code': '0560', 'nibrs_fbi_offense_code': '08A', 'arrest': False, 'domestic': True, 'updated_on': '09/05/2018 03:57:10 PM'}, {'case_number': 'JC142778', 'incident_date': '02/06/2019 06:20:00 PM', 'iucr_code': '0560', 'nibrs_fbi_offense_code': '08A', 'arrest': True, 'domestic': True, 'updated_on': '02/13/2019 04:10:15 PM'}, {'case_number': 'JB521662', 'incident_date': '11/19/2018 10:00:00 AM', 'iucr_code': '1811', 'nibrs_fbi_offense_code': '18', 'arrest': True, 'domestic': False, 'updated_on': '11/26/2018 04:16:31 PM'}, {'case_number': 'JB515124', 'incident_date': '11/13/2018 05:00:00 PM', 'iucr_code': '0281', 'nibrs_fbi_offense_code': '02', 'arrest': False, 'domestic': False, 'updated_on': '11/22/2018 04:00:54 PM'}  ... displaying 10 of 500000 total bound parameter sets ...  {'case_number': 'JD176045', 'incident_date': '03/05/2020 07:00:00 PM', 'iucr_code': '1582', 'nibrs_fbi_offense_code': '17', 'arrest': False, 'domestic': False, 'updated_on': '03/12/2020 04:12:24 PM'}, {'case_number': 'JD218818', 'incident_date': '04/17/2020 12:39:00 PM', 'iucr_code': '0890', 'nibrs_fbi_offense_code': '06', 'arrest': False, 'domestic': False, 'updated_on': '04/29/2020 03:41:48 PM'})

2024-12-06 22:14:49,141 INFO sqlalchemy.engine.base.Engine COMMIT
Processing chunk 15
2024-12-06 22:14:55,432 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where n.nspname=%(schema)s and relname=%(name)s
2024-12-06 22:14:55,433 INFO sqlalchemy.engine.base.Engine {'schema': 'ukgff', 'name': 'cc24_cases'}
2024-12-06 22:14:55,896 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2024-12-06 22:15:09,199 INFO sqlalchemy.engine.base.Engine INSERT INTO ukgff.cc24_cases (case_number, incident_date, iucr_code, nibrs_fbi_offense_code, arrest, domestic, updated_on) VALUES (%(case_number)s, %(incident_date)s, %(iucr_code)s, %(nibrs_fbi_offense_code)s, %(arrest)s, %(domestic)s, %(updated_on)s)
2024-12-06 22:15:09,200 INFO sqlalchemy.engine.base.Engine ({'case_number': 'JD236008', 'incident_date': '05/13/2020 10:00:00 AM', 'iucr_code': '0820', 'nibrs_fbi_offense_code': '06', 'arrest': False, 'domestic': False, 'updated_on': '05/21/2020 04:28:48 PM'}, {'case_number': 'JD231175', 'incident_date': '05/12/2020 06:00:00 PM', 'iucr_code': '0820', 'nibrs_fbi_offense_code': '06', 'arrest': False, 'domestic': False, 'updated_on': '05/19/2020 03:40:10 PM'}, {'case_number': 'JD229753', 'incident_date': '05/11/2020 12:15:00 PM', 'iucr_code': '1305', 'nibrs_fbi_offense_code': '14', 'arrest': False, 'domestic': False, 'updated_on': '05/19/2020 03:40:10 PM'}, {'case_number': 'JD226104', 'incident_date': '05/06/2020 06:00:00 AM', 'iucr_code': '0620', 'nibrs_fbi_offense_code': '05', 'arrest': False, 'domestic': False, 'updated_on': '05/14/2020 08:47:15 AM'}, {'case_number': 'JD341071', 'incident_date': '07/16/2020 07:00:00 AM', 'iucr_code': '1130', 'nibrs_fbi_offense_code': '11', 'arrest': False, 'domestic': False, 'updated_on': '08/26/2020 03:40:41 PM'}, {'case_number': 'JD261807', 'incident_date': '06/12/2020 11:45:00 AM', 'iucr_code': '0560', 'nibrs_fbi_offense_code': '08A', 'arrest': False, 'domestic': False, 'updated_on': '06/19/2020 03:41:57 PM'}, {'case_number': 'JD233790', 'incident_date': '05/16/2020 02:30:00 AM', 'iucr_code': '0610', 'nibrs_fbi_offense_code': '05', 'arrest': False, 'domestic': False, 'updated_on': '05/23/2020 03:41:31 PM'}, {'case_number': 'JD303210', 'incident_date': '07/19/2020 05:00:00 PM', 'iucr_code': '1310', 'nibrs_fbi_offense_code': '14', 'arrest': False, 'domestic': False, 'updated_on': '07/26/2020 03:41:17 PM'}  ... displaying 10 of 500000 total bound parameter sets ...  {'case_number': 'JF462386', 'incident_date': '11/04/2022 05:00:00 PM', 'iucr_code': '0486', 'nibrs_fbi_offense_code': '08B', 'arrest': False, 'domestic': True, 'updated_on': '01/03/2023 03:40:27 PM'}, {'case_number': 'JG118018', 'incident_date': '01/14/2023 10:10:00 AM', 'iucr_code': '0820', 'nibrs_fbi_offense_code': '06', 'arrest': False, 'domestic': False, 'updated_on': '08/19/2023 03:40:26 PM'})
2024-12-06 22:17:33,598 INFO sqlalchemy.engine.base.Engine COMMIT
Processing chunk 16
2024-12-06 22:17:36,255 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where n.nspname=%(schema)s and relname=%(name)s
2024-12-06 22:17:36,256 INFO sqlalchemy.engine.base.Engine {'schema': 'ukgff', 'name': 'cc24_cases'}
2024-12-06 22:17:36,435 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2024-12-06 22:17:41,153 INFO sqlalchemy.engine.base.Engine INSERT INTO ukgff.cc24_cases (case_number, incident_date, iucr_code, nibrs_fbi_offense_code, arrest, domestic, updated_on) VALUES (%(case_number)s, %(incident_date)s, %(iucr_code)s, %(nibrs_fbi_offense_code)s, %(arrest)s, %(domestic)s, %(updated_on)s)
2024-12-06 22:17:41,154 INFO sqlalchemy.engine.base.Engine ({'case_number': 'JF418218', 'incident_date': '10/01/2022 11:00:00 AM', 'iucr_code': '1242', 'nibrs_fbi_offense_code': '11', 'arrest': False, 'domestic': False, 'updated_on': '01/03/2023 03:40:27 PM'}, {'case_number': 'JG139242', 'incident_date': '02/03/2023 11:31:00 AM', 'iucr_code': '1210', 'nibrs_fbi_offense_code': '11', 'arrest': True, 'domestic': False, 'updated_on': '08/19/2023 03:40:26 PM'}, {'case_number': 'JG217994', 'incident_date': '04/08/2023 10:00:00 AM', 'iucr_code': '1122', 'nibrs_fbi_offense_code': '10', 'arrest': False, 'domestic': False, 'updated_on': '08/19/2023 03:40:26 PM'}, {'case_number': 'JG169314', 'incident_date': '02/28/2023 01:00:00 PM', 'iucr_code': '0890', 'nibrs_fbi_offense_code': '06', 'arrest': False, 'domestic': False, 'updated_on': '08/19/2023 03:40:26 PM'}, {'case_number': 'JF521464', 'incident_date': '12/24/2022 11:35:00 AM', 'iucr_code': '0486', 'nibrs_fbi_offense_code': '08B', 'arrest': False, 'domestic': True, 'updated_on': '01/03/2023 03:40:27 PM'}, {'case_number': 'JF492810', 'incident_date': '11/22/2022 12:00:00 AM', 'iucr_code': '0810', 'nibrs_fbi_offense_code': '06', 'arrest': False, 'domestic': False, 'updated_on': '01/03/2023 03:40:27 PM'}, {'case_number': 'JG169232', 'incident_date': '02/28/2023 08:30:00 AM', 'iucr_code': '0910', 'nibrs_fbi_offense_code': '07', 'arrest': False, 'domestic': False, 'updated_on': '08/19/2023 03:40:26 PM'}, {'case_number': 'JF504122', 'incident_date': '12/09/2022 07:00:00 AM', 'iucr_code': '0910', 'nibrs_fbi_offense_code': '07', 'arrest': False, 'domestic': False, 'updated_on': '01/03/2023 03:40:27 PM'}  ... displaying 10 of 202774 total bound parameter sets ...  {'case_number': 'JG398340', 'incident_date': '08/26/2023 12:00:00 AM', 'iucr_code': '1320', 'nibrs_fbi_offense_code': '14', 'arrest': False, 'domestic': False, 'updated_on': '09/02/2023 03:41:45 PM'}, {'case_number': 'JG324067', 'incident_date': '07/01/2023 07:29:00 PM', 'iucr_code': '1320', 'nibrs_fbi_offense_code': '14', 'arrest': False, 'domestic': True, 'updated_on': '08/19/2023 03:40:26 PM'})
2024-12-06 22:18:43,955 INFO sqlalchemy.engine.base.Engine COMMIT

In [42]:
%%sql 
PRAGMA table_info(cc24_cases);

 * sqlite:////dsa/data/DSA-7030/cc24_7030.sqlite.db
Done.

[(0, 'case_number', 'TEXT', 0, None, 0),
 (1, 'incident_date', 'TEXT', 0, None, 0),
 (2, 'iucr_code', 'TEXT', 0, None, 0),
 (3, 'nibrs_fbi_offense_code', 'TEXT', 0, None, 0),
 (4, 'arrest', 'BIGINT', 0, None, 0),
 (5, 'domestic', 'BIGINT', 0, None, 0),
 (6, 'updated_on', 'TEXT', 0, None, 0)]

cc24_case_location
-----

In [43]:
%%sql 
select count(*) from cc24_case_location;

 * sqlite:////dsa/data/DSA-7030/cc24_7030.sqlite.db
Done.

[(8202400,)]

In [60]:
cc24_case_location = pd.read_sql_query("select*from cc24_case_location", e2, chunksize=500000)

for i, chunk in enumerate(cc24_case_location):
    print(f"Processing chunk {i}")
    
    chunk = chunk.drop_duplicates(subset=['case_number'], keep='last') 
    
    chunk.to_sql(
        'cc24_case_location',
        engine,
        'ukgff',
        if_exists='append',  
        index=False,
    )

Processing chunk 0
2024-12-06 22:25:59,559 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where n.nspname=%(schema)s and relname=%(name)s
2024-12-06 22:25:59,560 INFO sqlalchemy.engine.base.Engine {'schema': 'ukgff', 'name': 'cc24_case_location'}
2024-12-06 22:26:00,247 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2024-12-06 22:26:14,412 INFO sqlalchemy.engine.base.Engine INSERT INTO ukgff.cc24_case_location (case_number, block, location_description, community_area, ward, district, beat, latitude, longitude) VALUES (%(case_number)s, %(block)s, %(location_description)s, %(community_area)s, %(ward)s, %(district)s, %(beat)s, %(latitude)s, %(longitude)s)
2024-12-06 22:26:14,413 INFO sqlalchemy.engine.base.Engine ({'case_number': 'HN549294', 'block': '074XX N ROGERS AVE', 'location_description': 'OTHER', 'community_area': 1.0, 'ward': 49.0, 'district': 24, 'beat': 2422, 'latitude': None, 'longitude': None}, {'case_number': 'JE240540', 'block': '020XX N LARAMIE AVE', 'location_description': 'STREET', 'community_area': 19.0, 'ward': 36.0, 'district': 25, 'beat': 2515, 'latitude': '41.917838056', 'longitude': '-87.755968972'}, {'case_number': 'JE279849', 'block': '062XX N MC CORMICK RD', 'location_description': 'PARKING LOT', 'community_area': 13.0, 'ward': 50.0, 'district': 17, 'beat': 1711, 'latitude': '41.995219444', 'longitude': '-87.713354912'}, {'case_number': 'JG507211', 'block': '019XX W BYRON ST', 'location_description': 'APARTMENT', 'community_area': 5.0, 'ward': 47.0, 'district': 19, 'beat': 1922, 'latitude': '41.952345086', 'longitude': '-87.677975059'}, {'case_number': 'JG501049', 'block': '086XX S COTTAGE GROVE AVE', 'location_description': 'SMALL RETAIL STORE', 'community_area': 44.0, 'ward': 6.0, 'district': 6, 'beat': 632, 'latitude': '41.737750767', 'longitude': '-87.604855911'}, {'case_number': 'HH109118', 'block': '007XX E 103 ST', 'location_description': 'GAS STATION', 'community_area': None, 'ward': None, 'district': 5, 'beat': 512, 'latitude': None, 'longitude': None}, {'case_number': 'JG415333', 'block': '002XX N Wells st', 'location_description': 'PARKING LOT / GARAGE (NON RESIDENTIAL)', 'community_area': 32.0, 'ward': 42.0, 'district': 1, 'beat': 122, 'latitude': '41.886018055', 'longitude': '-87.633937881'}, {'case_number': 'JH406913', 'block': '102XX W ZEMKE RD', 'location_description': 'AIRPORT EXTERIOR - NON-SECURE AREA', 'community_area': 76.0, 'ward': 41.0, 'district': 16, 'beat': 1654, 'latitude': '41.994913946', 'longitude': '-87.881937669'}  ... displaying 10 of 499970 total bound parameter sets ...  {'case_number': 'G282733', 'block': '074XX S HARVARD AV', 'location_description': 'STREET', 'community_area': None, 'ward': None, 'district': 7, 'beat': 731, 'latitude': '41.758755912', 'longitude': '-87.633144336'}, {'case_number': 'G397459', 'block': '0000X S HOMAN AV', 'location_description': 'VACANT LOT/LAND', 'community_area': None, 'ward': None, 'district': 11, 'beat': 1123, 'latitude': '41.880847632', 'longitude': '-87.711153141'})
2024-12-06 22:28:37,850 INFO sqlalchemy.engine.base.Engine COMMIT
Processing chunk 1
2024-12-06 22:28:45,664 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where n.nspname=%(schema)s and relname=%(name)s
2024-12-06 22:28:45,666 INFO sqlalchemy.engine.base.Engine {'schema': 'ukgff', 'name': 'cc24_case_location'}
2024-12-06 22:28:46,456 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2024-12-06 22:29:02,176 INFO sqlalchemy.engine.base.Engine INSERT INTO ukgff.cc24_case_location (case_number, block, location_description, community_area, ward, district, beat, latitude, longitude) VALUES (%(case_number)s, %(block)s, %(location_description)s, %(community_area)s, %(ward)s, %(district)s, %(beat)s, %(latitude)s, %(longitude)s)
2024-12-06 22:29:02,177 INFO sqlalchemy.engine.base.Engine ({'case_number': 'G367575', 'block': '063XX S KING DR', 'location_description': 'RESIDENCE', 'community_area': None, 'ward': None, 'district': 3, 'beat': 312, 'latitude': '41.778698342', 'longitude': '-87.61573985'}, {'case_number': 'G380480', 'block': '013XX E 75 ST', 'location_description': 'APARTMENT', 'community_area': None, 'ward': None, 'district': 4, 'beat': 411, 'latitude': '41.758605637', 'longitude': '-87.591700449'}, {'case_number': 'G239777', 'block': '013XX W 43 ST', 'location_description': 'STREET', 'community_area': None, 'ward': None, 'district': 9, 'beat': 921, 'latitude': '41.816037987', 'longitude': '-87.659391972'}, {'case_number': 'G208379', 'block': '054XX S WOLCOTT AV', 'location_description': 'RESIDENCE', 'community_area': None, 'ward': None, 'district': 9, 'beat': 915, 'latitude': '41.795477395', 'longitude': '-87.672065084'}, {'case_number': 'G266504', 'block': '064XX S CLAREMONT AV', 'location_description': 'RESIDENCE', 'community_area': None, 'ward': None, 'district': 8, 'beat': 825, 'latitude': '41.776420554', 'longitude': '-87.682067889'}, {'case_number': 'G415491', 'block': '001XX N WALLER AV', 'location_description': 'STREET', 'community_area': None, 'ward': None, 'district': 15, 'beat': 1512, 'latitude': '41.883127462', 'longitude': '-87.768370688'}, {'case_number': 'G417897', 'block': '043XX W AUGUSTA BL', 'location_description': 'STREET', 'community_area': None, 'ward': None, 'district': 11, 'beat': 1111, 'latitude': '41.899002781', 'longitude': '-87.733706562'}, {'case_number': 'G308151', 'block': '054XX W THOMAS ST', 'location_description': 'SIDEWALK', 'community_area': None, 'ward': None, 'district': 15, 'beat': 1524, 'latitude': '41.900463701', 'longitude': '-87.76188519'}  ... displaying 10 of 500000 total bound parameter sets ...  {'case_number': 'HH233486', 'block': '068XX N ASHLAND AV', 'location_description': 'RESIDENCE', 'community_area': None, 'ward': None, 'district': 7, 'beat': 2431, 'latitude': '41.769713641', 'longitude': '-87.663949757'}, {'case_number': 'HH258727', 'block': '043XX N KIMBALL AV', 'location_description': 'STREET', 'community_area': None, 'ward': None, 'district': 17, 'beat': 1724, 'latitude': '41.959540647', 'longitude': '-87.713090558'})
2024-12-06 22:31:27,832 INFO sqlalchemy.engine.base.Engine COMMIT
Processing chunk 2
2024-12-06 22:31:35,951 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where n.nspname=%(schema)s and relname=%(name)s
2024-12-06 22:31:35,952 INFO sqlalchemy.engine.base.Engine {'schema': 'ukgff', 'name': 'cc24_case_location'}
2024-12-06 22:31:36,615 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2024-12-06 22:31:50,348 INFO sqlalchemy.engine.base.Engine INSERT INTO ukgff.cc24_case_location (case_number, block, location_description, community_area, ward, district, beat, latitude, longitude) VALUES (%(case_number)s, %(block)s, %(location_description)s, %(community_area)s, %(ward)s, %(district)s, %(beat)s, %(latitude)s, %(longitude)s)
2024-12-06 22:31:50,349 INFO sqlalchemy.engine.base.Engine ({'case_number': 'HH237728', 'block': '014XX W LUNT AV', 'location_description': 'SMALL RETAIL STORE', 'community_area': None, 'ward': None, 'district': 24, 'beat': 2431, 'latitude': '42.009127011', 'longitude': '-87.665890417'}, {'case_number': 'HH269635', 'block': '035XX N PULASKI RD', 'location_description': 'GROCERY FOOD STORE', 'community_area': None, 'ward': None, 'district': 17, 'beat': 1732, 'latitude': '41.94593982', 'longitude': '-87.727385537'}, {'case_number': 'HH337558', 'block': '035XX W 13TH PL', 'location_description': 'STREET', 'community_area': 29.0, 'ward': 24.0, 'district': 10, 'beat': 1021, 'latitude': '41.864099641', 'longitude': '-87.713723835'}, {'case_number': 'HH285780', 'block': '063XX S KEDZIE AV', 'location_description': 'DRUG STORE', 'community_area': None, 'ward': None, 'district': 8, 'beat': 823, 'latitude': '41.778340981', 'longitude': '-87.703122242'}, {'case_number': 'HH287670', 'block': '040XX N SHERIDAN RD', 'location_description': 'OTHER', 'community_area': None, 'ward': None, 'district': 19, 'beat': 2322, 'latitude': '41.955120653', 'longitude': '-87.654561081'}, {'case_number': 'HH387218', 'block': '015XX N MOHAWK ST', 'location_description': 'RESIDENCE', 'community_area': 8.0, 'ward': 43.0, 'district': 18, 'beat': 1821, 'latitude': '41.91059884', 'longitude': '-87.642207607'}, {'case_number': 'HH359351', 'block': '048XX S KEDZIE AVE', 'location_description': 'PARKING LOT/GARAGE(NON.RESID.)', 'community_area': 58.0, 'ward': 14.0, 'district': 8, 'beat': 821, 'latitude': '41.805392954', 'longitude': '-87.703898864'}, {'case_number': 'HH308227', 'block': '036XX S FEDERAL ST', 'location_description': 'CHA HALLWAY/STAIRWELL/ELEVATOR', 'community_area': None, 'ward': None, 'district': 2, 'beat': 211, 'latitude': '41.828220982', 'longitude': '-87.628942582'}  ... displaying 10 of 500000 total bound parameter sets ...  {'case_number': 'HJ479723', 'block': '002XX E 35TH ST', 'location_description': 'SIDEWALK', 'community_area': 35.0, 'ward': 3.0, 'district': 2, 'beat': 211, 'latitude': '41.831063217', 'longitude': '-87.621242621'}, {'case_number': 'HJ552912', 'block': '003XX W INSTITUTE PL', 'location_description': 'STREET', 'community_area': 8.0, 'ward': 27.0, 'district': 18, 'beat': 1823, 'latitude': '41.89739352', 'longitude': '-87.636293102'})

2024-12-06 22:34:10,292 INFO sqlalchemy.engine.base.Engine COMMIT
Processing chunk 3
2024-12-06 22:34:18,587 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where n.nspname=%(schema)s and relname=%(name)s
2024-12-06 22:34:18,588 INFO sqlalchemy.engine.base.Engine {'schema': 'ukgff', 'name': 'cc24_case_location'}
2024-12-06 22:34:19,270 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2024-12-06 22:34:33,199 INFO sqlalchemy.engine.base.Engine INSERT INTO ukgff.cc24_case_location (case_number, block, location_description, community_area, ward, district, beat, latitude, longitude) VALUES (%(case_number)s, %(block)s, %(location_description)s, %(community_area)s, %(ward)s, %(district)s, %(beat)s, %(latitude)s, %(longitude)s)
2024-12-06 22:34:33,200 INFO sqlalchemy.engine.base.Engine ({'case_number': 'HJ350624', 'block': '018XX S KOSTNER AVE', 'location_description': 'CHA HALLWAY/STAIRWELL/ELEVATOR', 'community_area': 29.0, 'ward': 24.0, 'district': 10, 'beat': 1012, 'latitude': '41.856255061', 'longitude': '-87.734656651'}, {'case_number': 'HJ369348', 'block': '007XX N TRUMBULL AVE', 'location_description': 'STREET', 'community_area': 23.0, 'ward': 27.0, 'district': 11, 'beat': 1121, 'latitude': '41.894121219', 'longitude': '-87.712614696'}, {'case_number': 'HJ377136', 'block': '057XX S ELLIS AVE', 'location_description': 'COLLEGE/UNIVERSITY GROUNDS', 'community_area': 41.0, 'ward': 5.0, 'district': 2, 'beat': 2133, 'latitude': '41.790684756', 'longitude': '-87.601286633'}, {'case_number': 'HJ475517', 'block': '043XX W 19TH ST', 'location_description': 'APARTMENT', 'community_area': 29.0, 'ward': 24.0, 'district': 10, 'beat': 1012, 'latitude': '41.854911949', 'longitude': '-87.733380777'}, {'case_number': 'HJ510175', 'block': '021XX N FREMONT ST', 'location_description': 'RESIDENCE PORCH/HALLWAY', 'community_area': 7.0, 'ward': 43.0, 'district': 18, 'beat': 1812, 'latitude': '41.920599374', 'longitude': '-87.651021169'}, {'case_number': 'HJ391893', 'block': '0000X W RANDOLPH ST', 'location_description': 'OTHER', 'community_area': 32.0, 'ward': 42.0, 'district': 1, 'beat': 122, 'latitude': '41.884486217', 'longitude': '-87.628908795'}, {'case_number': 'HJ499495', 'block': '057XX S HOYNE AVE', 'location_description': 'STREET', 'community_area': 67.0, 'ward': 15.0, 'district': 7, 'beat': 715, 'latitude': '41.789359002', 'longitude': '-87.676608929'}, {'case_number': 'HJ400018', 'block': '027XX W MONROE ST', 'location_description': 'RESIDENCE', 'community_area': 27.0, 'ward': 2.0, 'district': 11, 'beat': 1125, 'latitude': '41.880179102', 'longitude': '-87.694848167'}  ... displaying 10 of 500000 total bound parameter sets ...  {'case_number': 'HK440093', 'block': '033XX W PALMER ST', 'location_description': 'RESIDENCE', 'community_area': 22.0, 'ward': 26.0, 'district': 14, 'beat': 1413, 'latitude': '41.921014046', 'longitude': '-87.710968861'}, {'case_number': 'HK387101', 'block': '006XX E 75TH ST', 'location_description': 'COMMERCIAL / BUSINESS OFFICE', 'community_area': 69.0, 'ward': 6.0, 'district': 6, 'beat': 624, 'latitude': '41.758495898', 'longitude': '-87.609781863'})
2024-12-06 22:36:58,221 INFO sqlalchemy.engine.base.Engine COMMIT
Processing chunk 4
2024-12-06 22:37:06,196 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where n.nspname=%(schema)s and relname=%(name)s
2024-12-06 22:37:06,197 INFO sqlalchemy.engine.base.Engine {'schema': 'ukgff', 'name': 'cc24_case_location'}
2024-12-06 22:37:06,924 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2024-12-06 22:37:20,579 INFO sqlalchemy.engine.base.Engine INSERT INTO ukgff.cc24_case_location (case_number, block, location_description, community_area, ward, district, beat, latitude, longitude) VALUES (%(case_number)s, %(block)s, %(location_description)s, %(community_area)s, %(ward)s, %(district)s, %(beat)s, %(latitude)s, %(longitude)s)
2024-12-06 22:37:20,580 INFO sqlalchemy.engine.base.Engine ({'case_number': 'HK274784', 'block': '020XX N ST LOUIS AVE', 'location_description': 'SIDEWALK', 'community_area': 22.0, 'ward': 26.0, 'district': 14.0, 'beat': 1413, 'latitude': '41.917550863', 'longitude': '-87.713512018'}, {'case_number': 'HK328099', 'block': '002XX E OHIO ST', 'location_description': 'STREET', 'community_area': 8.0, 'ward': 42.0, 'district': 18.0, 'beat': 1834, 'latitude': '41.892571811', 'longitude': '-87.621959165'}, {'case_number': 'HK418505', 'block': '017XX W 35TH ST', 'location_description': 'RESIDENCE-GARAGE', 'community_area': 59.0, 'ward': 11.0, 'district': 9.0, 'beat': 922, 'latitude': '41.830452856', 'longitude': '-87.669624771'}, {'case_number': 'HK295624', 'block': '030XX W COLUMBUS AVE', 'location_description': 'DRIVEWAY - RESIDENTIAL', 'community_area': 70.0, 'ward': 18.0, 'district': 8.0, 'beat': 835, 'latitude': '41.751976273', 'longitude': '-87.699096069'}, {'case_number': 'HK274341', 'block': '054XX S RUTHERFORD AVE', 'location_description': 'RESIDENTIAL YARD (FRONT/BACK)', 'community_area': 56.0, 'ward': 23.0, 'district': 8.0, 'beat': 811, 'latitude': '41.79323251', 'longitude': '-87.790386189'}, {'case_number': 'HK279049', 'block': '034XX S WESTERN AVE', 'location_description': 'OTHER', 'community_area': 59.0, 'ward': 12.0, 'district': 9.0, 'beat': 913, 'latitude': '41.83075499', 'longitude': '-87.685047259'}, {'case_number': 'HK425600', 'block': '063XX S DR MARTIN LUTHER KING JR DR', 'location_description': 'PARKING LOT/GARAGE(NON.RESID.)', 'community_area': 69.0, 'ward': 20.0, 'district': 3.0, 'beat': 312, 'latitude': '41.779059693', 'longitude': '-87.615596501'}, {'case_number': 'HK366971', 'block': '047XX N KEDZIE AVE', 'location_description': 'SIDEWALK', 'community_area': 14.0, 'ward': 33.0, 'district': 17.0, 'beat': 1713, 'latitude': '41.967083891', 'longitude': '-87.70842839'}  ... displaying 10 of 500000 total bound parameter sets ...  {'case_number': 'HL498098', 'block': '015XX E 74TH ST', 'location_description': 'RESIDENCE', 'community_area': 43.0, 'ward': 5.0, 'district': 3.0, 'beat': 324, 'latitude': '41.760580112', 'longitude': '-87.587242749'}, {'case_number': 'HL524069', 'block': '058XX S PAULINA ST', 'location_description': 'SIDEWALK', 'community_area': 67.0, 'ward': 15.0, 'district': 7.0, 'beat': 715, 'latitude': '41.788328667', 'longitude': '-87.666865628'})
2024-12-06 22:39:48,074 INFO sqlalchemy.engine.base.Engine COMMIT
Processing chunk 5
2024-12-06 22:39:56,487 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where n.nspname=%(schema)s and relname=%(name)s
2024-12-06 22:39:56,488 INFO sqlalchemy.engine.base.Engine {'schema': 'ukgff', 'name': 'cc24_case_location'}
2024-12-06 22:39:57,267 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2024-12-06 22:40:11,240 INFO sqlalchemy.engine.base.Engine INSERT INTO ukgff.cc24_case_location (case_number, block, location_description, community_area, ward, district, beat, latitude, longitude) VALUES (%(case_number)s, %(block)s, %(location_description)s, %(community_area)s, %(ward)s, %(district)s, %(beat)s, %(latitude)s, %(longitude)s)
2024-12-06 22:40:11,242 INFO sqlalchemy.engine.base.Engine ({'case_number': 'HL615305', 'block': '043XX W FORD CITY DR', 'location_description': 'STREET', 'community_area': 65.0, 'ward': 13.0, 'district': 8.0, 'beat': 833, 'latitude': '41.75319389', 'longitude': '-87.731067239'}, {'case_number': 'HL588725', 'block': '010XX W BELMONT AVE', 'location_description': 'SIDEWALK', 'community_area': 6.0, 'ward': 44.0, 'district': 19.0, 'beat': 1924, 'latitude': '41.93990164', 'longitude': '-87.654626945'}, {'case_number': 'HL572416', 'block': '030XX S MICHIGAN AVE', 'location_description': 'STREET', 'community_area': 35.0, 'ward': 2.0, 'district': 1.0, 'beat': 2112, 'latitude': '41.838916012', 'longitude': '-87.623250984'}, {'case_number': 'HL611879', 'block': '020XX W LAWRENCE AVE', 'location_description': 'APARTMENT', 'community_area': 4.0, 'ward': 47.0, 'district': 19.0, 'beat': 1911, 'latitude': '41.968729662', 'longitude': '-87.681157055'}, {'case_number': 'HL600144', 'block': '055XX N LINCOLN AVE', 'location_description': 'HOTEL/MOTEL', 'community_area': 4.0, 'ward': 40.0, 'district': 20.0, 'beat': 2011, 'latitude': '41.982224277', 'longitude': '-87.693594288'}, {'case_number': 'HL418380', 'block': '123XX S PERRY AVE', 'location_description': 'STREET', 'community_area': 53.0, 'ward': 9.0, 'district': 5.0, 'beat': 523, 'latitude': '41.670255524', 'longitude': '-87.624836754'}, {'case_number': 'HL530030', 'block': '113XX S WASHTENAW AVE', 'location_description': 'RESIDENCE-GARAGE', 'community_area': 75.0, 'ward': 19.0, 'district': 22.0, 'beat': 2212, 'latitude': '41.687422363', 'longitude': '-87.688392034'}, {'case_number': 'HL419487', 'block': '012XX W MORSE AVE', 'location_description': 'STREET', 'community_area': 1.0, 'ward': 49.0, 'district': 24.0, 'beat': 2431, 'latitude': '42.007970009', 'longitude': '-87.662304023'}  ... displaying 10 of 500000 total bound parameter sets ...  {'case_number': 'HM725712', 'block': '025XX S PAULINA ST', 'location_description': 'OTHER', 'community_area': 31.0, 'ward': 25.0, 'district': 10.0, 'beat': 1034, 'latitude': '41.846721794', 'longitude': '-87.668362928'}, {'case_number': 'HM778204', 'block': '047XX N SHERIDAN RD', 'location_description': 'CHURCH/SYNAGOGUE/PLACE OF WORSHIP', 'community_area': 3.0, 'ward': 46.0, 'district': 19.0, 'beat': 2312, 'latitude': '41.968533072', 'longitude': '-87.654812168'})

2024-12-06 22:42:39,128 INFO sqlalchemy.engine.base.Engine COMMIT
Processing chunk 6
2024-12-06 22:42:47,712 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where n.nspname=%(schema)s and relname=%(name)s
2024-12-06 22:42:47,713 INFO sqlalchemy.engine.base.Engine {'schema': 'ukgff', 'name': 'cc24_case_location'}
2024-12-06 22:42:48,433 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2024-12-06 22:43:03,736 INFO sqlalchemy.engine.base.Engine INSERT INTO ukgff.cc24_case_location (case_number, block, location_description, community_area, ward, district, beat, latitude, longitude) VALUES (%(case_number)s, %(block)s, %(location_description)s, %(community_area)s, %(ward)s, %(district)s, %(beat)s, %(latitude)s, %(longitude)s)
2024-12-06 22:43:03,737 INFO sqlalchemy.engine.base.Engine ({'case_number': 'HM769145', 'block': '008XX W ROSCOE ST', 'location_description': 'APARTMENT', 'community_area': 6.0, 'ward': 44.0, 'district': 19, 'beat': 2331, 'latitude': '41.943609161', 'longitude': '-87.650015015'}, {'case_number': 'HM640336', 'block': '012XX E 62ND ST', 'location_description': 'STREET', 'community_area': 42.0, 'ward': 20.0, 'district': 3, 'beat': 314, 'latitude': '41.782347549', 'longitude': '-87.595698396'}, {'case_number': 'HM638886', 'block': '063XX S WOOD ST', 'location_description': 'RESIDENCE', 'community_area': 67.0, 'ward': 15.0, 'district': 7, 'beat': 726, 'latitude': '41.778678828', 'longitude': '-87.669077341'}, {'case_number': 'HM770613', 'block': '070XX S MAY ST', 'location_description': 'STREET', 'community_area': 68.0, 'ward': 17.0, 'district': 7, 'beat': 733, 'latitude': '41.766251469', 'longitude': '-87.652930329'}, {'case_number': 'HM615118', 'block': '071XX S RIDGELAND AVE', 'location_description': 'STREET', 'community_area': 43.0, 'ward': 5.0, 'district': 3, 'beat': 324, 'latitude': '41.764939539', 'longitude': '-87.582416087'}, {'case_number': 'HM698958', 'block': '005XX W TILDEN ST', 'location_description': 'STREET', 'community_area': 28.0, 'ward': 2.0, 'district': 1, 'beat': 131, 'latitude': '41.875841479', 'longitude': '-87.640122078'}, {'case_number': 'HM457531', 'block': '046XX N KEATING AVE', 'location_description': 'RESIDENCE', 'community_area': 16.0, 'ward': 45.0, 'district': 17, 'beat': 1722, 'latitude': '41.965332975', 'longitude': '-87.746362582'}, {'case_number': 'HM563395', 'block': '038XX W HURON ST', 'location_description': 'OTHER', 'community_area': 23.0, 'ward': 27.0, 'district': 11, 'beat': 1112, 'latitude': '41.893563414', 'longitude': '-87.722716805'}  ... displaying 10 of 500000 total bound parameter sets ...  {'case_number': 'HN685571', 'block': '086XX S EXCHANGE AVE', 'location_description': 'APARTMENT', 'community_area': 46.0, 'ward': 10.0, 'district': 4, 'beat': 423, 'latitude': '41.7384317', 'longitude': '-87.552672861'}, {'case_number': 'HN527744', 'block': '069XX S WESTERN AVE', 'location_description': 'RESTAURANT', 'community_area': 66.0, 'ward': 17.0, 'district': 8, 'beat': 832, 'latitude': '41.7678792', 'longitude': '-87.683327303'})
2024-12-06 22:45:23,856 INFO sqlalchemy.engine.base.Engine COMMIT
Processing chunk 7
2024-12-06 22:45:31,779 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where n.nspname=%(schema)s and relname=%(name)s
2024-12-06 22:45:31,780 INFO sqlalchemy.engine.base.Engine {'schema': 'ukgff', 'name': 'cc24_case_location'}
2024-12-06 22:45:32,501 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2024-12-06 22:45:45,565 INFO sqlalchemy.engine.base.Engine INSERT INTO ukgff.cc24_case_location (case_number, block, location_description, community_area, ward, district, beat, latitude, longitude) VALUES (%(case_number)s, %(block)s, %(location_description)s, %(community_area)s, %(ward)s, %(district)s, %(beat)s, %(latitude)s, %(longitude)s)
2024-12-06 22:45:45,567 INFO sqlalchemy.engine.base.Engine ({'case_number': 'HN535399', 'block': '063XX S MORGAN ST', 'location_description': 'STREET', 'community_area': 68.0, 'ward': 16.0, 'district': 7.0, 'beat': 724, 'latitude': '41.779220641', 'longitude': '-87.649632877'}, {'case_number': 'HN505336', 'block': '018XX S WOOD ST', 'location_description': 'SIDEWALK', 'community_area': 31.0, 'ward': 25.0, 'district': 12.0, 'beat': 1223, 'latitude': '41.857497782', 'longitude': '-87.671088831'}, {'case_number': 'HN686122', 'block': '040XX N MENARD AVE', 'location_description': 'RESIDENCE-GARAGE', 'community_area': 15.0, 'ward': 38.0, 'district': 16.0, 'beat': 1624, 'latitude': '41.954042132', 'longitude': '-87.771921165'}, {'case_number': 'HN534844', 'block': '0000X E 75TH ST', 'location_description': 'DRUG STORE', 'community_area': 69.0, 'ward': 6.0, 'district': 6.0, 'beat': 623, 'latitude': '41.758214815', 'longitude': '-87.624119338'}, {'case_number': 'HN602526', 'block': '020XX W GREENLEAF AVE', 'location_description': 'ALLEY', 'community_area': 1.0, 'ward': 49.0, 'district': 24.0, 'beat': 2424, 'latitude': '42.010074892', 'longitude': '-87.681367767'}, {'case_number': 'HN531944', 'block': '073XX S ASHLAND AVE', 'location_description': 'SMALL RETAIL STORE', 'community_area': 67.0, 'ward': 17.0, 'district': 7.0, 'beat': 735, 'latitude': '41.75996145', 'longitude': '-87.663658938'}, {'case_number': 'HN634385', 'block': '011XX E 46TH ST', 'location_description': 'STREET', 'community_area': 39.0, 'ward': 4.0, 'district': 2.0, 'beat': 2123, 'latitude': '41.811442095', 'longitude': '-87.598647689'}, {'case_number': 'HN520658', 'block': '053XX W HARRISON ST', 'location_description': 'APARTMENT', 'community_area': 25.0, 'ward': 29.0, 'district': 15.0, 'beat': 1522, 'latitude': '41.872908652', 'longitude': '-87.758025754'}  ... displaying 10 of 500000 total bound parameter sets ...  {'case_number': 'HR211297', 'block': '003XX E ILLINOIS ST', 'location_description': 'MOVIE HOUSE/THEATER', 'community_area': 8.0, 'ward': 42.0, 'district': 18.0, 'beat': 1834, 'latitude': '41.891023035', 'longitude': '-87.619141016'}, {'case_number': 'HP713946', 'block': '062XX S MORGAN ST', 'location_description': 'RESIDENCE', 'community_area': 68.0, 'ward': 16.0, 'district': 7.0, 'beat': 712, 'latitude': '41.780925109', 'longitude': '-87.6496771'})
2024-12-06 22:48:05,432 INFO sqlalchemy.engine.base.Engine COMMIT
Processing chunk 8
2024-12-06 22:48:13,535 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where n.nspname=%(schema)s and relname=%(name)s
2024-12-06 22:48:13,537 INFO sqlalchemy.engine.base.Engine {'schema': 'ukgff', 'name': 'cc24_case_location'}
2024-12-06 22:48:14,194 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2024-12-06 22:48:28,180 INFO sqlalchemy.engine.base.Engine INSERT INTO ukgff.cc24_case_location (case_number, block, location_description, community_area, ward, district, beat, latitude, longitude) VALUES (%(case_number)s, %(block)s, %(location_description)s, %(community_area)s, %(ward)s, %(district)s, %(beat)s, %(latitude)s, %(longitude)s)
2024-12-06 22:48:28,182 INFO sqlalchemy.engine.base.Engine ({'case_number': 'HP736248', 'block': '012XX S KEDVALE AVE', 'location_description': 'STREET', 'community_area': 29.0, 'ward': 24.0, 'district': 10, 'beat': 1011, 'latitude': '41.865513789', 'longitude': '-87.728817415'}, {'case_number': 'HP725742', 'block': '051XX W WAVELAND AVE', 'location_description': 'STREET', 'community_area': 15.0, 'ward': 45.0, 'district': 16, 'beat': 1634, 'latitude': '41.947845279', 'longitude': '-87.755793861'}, {'case_number': 'HP759615', 'block': '051XX W NORTH AVE', 'location_description': 'STREET', 'community_area': 25.0, 'ward': 37.0, 'district': 25, 'beat': 2533, 'latitude': '41.909510086', 'longitude': '-87.755033732'}, {'case_number': 'HR130379', 'block': '040XX W WILCOX ST', 'location_description': 'SIDEWALK', 'community_area': 26.0, 'ward': 28.0, 'district': 11, 'beat': 1115, 'latitude': '41.878856397', 'longitude': '-87.726745508'}, {'case_number': 'HR202767', 'block': '071XX S MARSHFIELD AVE', 'location_description': 'RESIDENCE', 'community_area': 67.0, 'ward': 17.0, 'district': 7, 'beat': 735, 'latitude': '41.764030879', 'longitude': '-87.665009499'}, {'case_number': 'HP721681', 'block': '030XX W 41ST ST', 'location_description': 'APARTMENT', 'community_area': 58.0, 'ward': 14.0, 'district': 9, 'beat': 912, 'latitude': '41.819066091', 'longitude': '-87.700111056'}, {'case_number': 'HR116780', 'block': '051XX S WOLCOTT AVE', 'location_description': 'APARTMENT', 'community_area': 61.0, 'ward': 16.0, 'district': 9, 'beat': 932, 'latitude': '41.800672314', 'longitude': '-87.672063022'}, {'case_number': 'HR140183', 'block': '087XX S KIMBARK AVE', 'location_description': 'STREET', 'community_area': 48.0, 'ward': 8.0, 'district': 4, 'beat': 412, 'latitude': '41.736525068', 'longitude': '-87.592991421'}  ... displaying 10 of 500000 total bound parameter sets ...  {'case_number': 'HS269301', 'block': '005XX W DEMING PL', 'location_description': 'STREET', 'community_area': 7.0, 'ward': 43.0, 'district': 19, 'beat': 1933, 'latitude': '41.928303956', 'longitude': '-87.643016091'}, {'case_number': 'HR713023', 'block': '026XX S CENTRAL PARK AVE', 'location_description': 'RESIDENCE', 'community_area': 30.0, 'ward': 22.0, 'district': 10, 'beat': 1032, 'latitude': '41.843440944', 'longitude': '-87.714759952'})

2024-12-06 22:50:42,618 INFO sqlalchemy.engine.base.Engine COMMIT
Processing chunk 9
2024-12-06 22:50:50,915 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where n.nspname=%(schema)s and relname=%(name)s
2024-12-06 22:50:50,916 INFO sqlalchemy.engine.base.Engine {'schema': 'ukgff', 'name': 'cc24_case_location'}
2024-12-06 22:50:51,609 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2024-12-06 22:51:04,964 INFO sqlalchemy.engine.base.Engine INSERT INTO ukgff.cc24_case_location (case_number, block, location_description, community_area, ward, district, beat, latitude, longitude) VALUES (%(case_number)s, %(block)s, %(location_description)s, %(community_area)s, %(ward)s, %(district)s, %(beat)s, %(latitude)s, %(longitude)s)
2024-12-06 22:51:04,966 INFO sqlalchemy.engine.base.Engine ({'case_number': 'HR691650', 'block': '051XX S ARCHER AVE', 'location_description': 'STREET', 'community_area': 57.0, 'ward': 23.0, 'district': 8, 'beat': 815, 'latitude': '41.800105211', 'longitude': '-87.733745575'}, {'case_number': 'HS239472', 'block': '003XX S STATE ST', 'location_description': 'CTA PLATFORM', 'community_area': 32.0, 'ward': 2.0, 'district': 1, 'beat': 123, 'latitude': '41.877788135', 'longitude': '-87.627667799'}, {'case_number': 'HS239789', 'block': '008XX S STATE ST', 'location_description': 'ATHLETIC CLUB', 'community_area': 32.0, 'ward': 2.0, 'district': 1, 'beat': 132, 'latitude': '41.871398587', 'longitude': '-87.627514115'}, {'case_number': 'HS112212', 'block': '052XX N LUDLAM AVE', 'location_description': 'RESIDENCE', 'community_area': 11.0, 'ward': 45.0, 'district': 16, 'beat': 1623, 'latitude': '41.977088903', 'longitude': '-87.764852588'}, {'case_number': 'HS118628', 'block': '026XX W MORSE AVE', 'location_description': 'RESIDENCE', 'community_area': 2.0, 'ward': 50.0, 'district': 24, 'beat': 2411, 'latitude': '42.006738133', 'longitude': '-87.695563721'}, {'case_number': 'HR694605', 'block': '052XX S HONORE ST', 'location_description': 'STREET', 'community_area': 61.0, 'ward': 16.0, 'district': 9, 'beat': 932, 'latitude': '41.798958075', 'longitude': '-87.670797037'}, {'case_number': 'HS193008', 'block': '112XX S HALSTED ST', 'location_description': 'STREET', 'community_area': 75.0, 'ward': 34.0, 'district': 22, 'beat': 2233, 'latitude': '41.690082704', 'longitude': '-87.642306781'}, {'case_number': 'HR701742', 'block': '116XX S MAY ST', 'location_description': 'STREET', 'community_area': 53.0, 'ward': 34.0, 'district': 5, 'beat': 524, 'latitude': '41.682195492', 'longitude': '-87.650573093'}  ... displaying 10 of 500000 total bound parameter sets ...  {'case_number': 'HT456378', 'block': '042XX N MOODY AVE', 'location_description': 'RESIDENCE', 'community_area': 15.0, 'ward': 38.0, 'district': 16, 'beat': 1624, 'latitude': '41.957322392', 'longitude': '-87.78059472'}, {'case_number': 'HT412399', 'block': '051XX N MARINE DR', 'location_description': 'OTHER', 'community_area': 3.0, 'ward': 48.0, 'district': 20, 'beat': 2024, 'latitude': '41.975606477', 'longitude': '-87.651839165'})
2024-12-06 22:53:10,947 INFO sqlalchemy.engine.base.Engine COMMIT
Processing chunk 10
2024-12-06 22:53:19,015 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where n.nspname=%(schema)s and relname=%(name)s
2024-12-06 22:53:19,016 INFO sqlalchemy.engine.base.Engine {'schema': 'ukgff', 'name': 'cc24_case_location'}
2024-12-06 22:53:19,658 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2024-12-06 22:53:34,201 INFO sqlalchemy.engine.base.Engine INSERT INTO ukgff.cc24_case_location (case_number, block, location_description, community_area, ward, district, beat, latitude, longitude) VALUES (%(case_number)s, %(block)s, %(location_description)s, %(community_area)s, %(ward)s, %(district)s, %(beat)s, %(latitude)s, %(longitude)s)
2024-12-06 22:53:34,202 INFO sqlalchemy.engine.base.Engine ({'case_number': 'HT561479', 'block': '115XX S PRINCETON AVE', 'location_description': 'STREET', 'community_area': 53.0, 'ward': 34.0, 'district': 5, 'beat': 522, 'latitude': '41.684777795', 'longitude': '-87.630073708'}, {'case_number': 'HT494566', 'block': '013XX N PULASKI RD', 'location_description': 'SIDEWALK', 'community_area': 23.0, 'ward': 27.0, 'district': 25, 'beat': 2535, 'latitude': '41.905440732', 'longitude': '-87.726387394'}, {'case_number': 'HT500245', 'block': '085XX S BURLEY AVE', 'location_description': 'SIDEWALK', 'community_area': 46.0, 'ward': 10.0, 'district': 4, 'beat': 424, 'latitude': '41.740497814', 'longitude': '-87.545385562'}, {'case_number': 'HT373129', 'block': '043XX W FORD CITY DR', 'location_description': 'PARKING LOT/GARAGE(NON.RESID.)', 'community_area': 65.0, 'ward': 13.0, 'district': 8, 'beat': 833, 'latitude': '41.753204151', 'longitude': '-87.73040747'}, {'case_number': 'HT533364', 'block': '066XX N SEELEY AVE', 'location_description': 'APARTMENT', 'community_area': 2.0, 'ward': 50.0, 'district': 24, 'beat': 2412, 'latitude': '42.002364384', 'longitude': '-87.68148328'}, {'case_number': 'HT365185', 'block': '066XX S JUSTINE ST', 'location_description': 'SIDEWALK', 'community_area': 67.0, 'ward': 17.0, 'district': 7, 'beat': 725, 'latitude': '41.773573814', 'longitude': '-87.66282815'}, {'case_number': 'HT382723', 'block': '045XX W ARMITAGE AVE', 'location_description': 'PARKING LOT/GARAGE(NON.RESID.)', 'community_area': 20.0, 'ward': 31.0, 'district': 25, 'beat': 2533, 'latitude': '41.916996378', 'longitude': '-87.740508128'}, {'case_number': 'HT374045', 'block': '007XX W MADISON ST', 'location_description': 'STREET', 'community_area': 28.0, 'ward': 27.0, 'district': 12, 'beat': 1212, 'latitude': '41.881782928', 'longitude': '-87.647001963'}  ... displaying 10 of 500000 total bound parameter sets ...  {'case_number': 'HW187653', 'block': '010XX E MARQUETTE RD', 'location_description': 'APARTMENT', 'community_area': 42.0, 'ward': 20.0, 'district': 3, 'beat': 321, 'latitude': '41.775013477', 'longitude': '-87.600636333'}, {'case_number': 'HW159724', 'block': '062XX S NEW ENGLAND AVE', 'location_description': 'COMMERCIAL / BUSINESS OFFICE', 'community_area': 64.0, 'ward': 23.0, 'district': 8, 'beat': 812, 'latitude': '41.778661501', 'longitude': '-87.794138757'})
2024-12-06 22:55:37,161 INFO sqlalchemy.engine.base.Engine COMMIT
Processing chunk 11
2024-12-06 22:55:45,208 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where n.nspname=%(schema)s and relname=%(name)s
2024-12-06 22:55:45,210 INFO sqlalchemy.engine.base.Engine {'schema': 'ukgff', 'name': 'cc24_case_location'}
2024-12-06 22:55:45,866 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2024-12-06 22:55:59,257 INFO sqlalchemy.engine.base.Engine INSERT INTO ukgff.cc24_case_location (case_number, block, location_description, community_area, ward, district, beat, latitude, longitude) VALUES (%(case_number)s, %(block)s, %(location_description)s, %(community_area)s, %(ward)s, %(district)s, %(beat)s, %(latitude)s, %(longitude)s)
2024-12-06 22:55:59,258 INFO sqlalchemy.engine.base.Engine ({'case_number': 'HW363149', 'block': '012XX S AVERS AVE', 'location_description': 'ABANDONED BUILDING', 'community_area': 29.0, 'ward': 24.0, 'district': 10, 'beat': 1011, 'latitude': '41.865483238', 'longitude': '-87.721493543'}, {'case_number': 'HW298440', 'block': '014XX E 53RD ST', 'location_description': 'PARKING LOT/GARAGE(NON.RESID.)', 'community_area': 41.0, 'ward': 4.0, 'district': 2, 'beat': 234, 'latitude': '41.799515859', 'longitude': '-87.591448973'}, {'case_number': 'HW286112', 'block': '019XX W ADDISON ST', 'location_description': 'APARTMENT', 'community_area': 5.0, 'ward': 47.0, 'district': 19, 'beat': 1922, 'latitude': '41.946885808', 'longitude': '-87.676832626'}, {'case_number': 'HW298660', 'block': '005XX S MICHIGAN AVE', 'location_description': 'HOTEL/MOTEL', 'community_area': 32.0, 'ward': 2.0, 'district': 1, 'beat': 123, 'latitude': '41.875272573', 'longitude': '-87.624251314'}, {'case_number': 'HW315494', 'block': '089XX S HOUSTON AVE', 'location_description': 'APARTMENT', 'community_area': 46.0, 'ward': 10.0, 'district': 4, 'beat': 424, 'latitude': '41.733045256', 'longitude': '-87.549942692'}, {'case_number': 'HW249638', 'block': '027XX W 39TH PL', 'location_description': 'APARTMENT', 'community_area': 58.0, 'ward': 12.0, 'district': 9, 'beat': 921, 'latitude': '41.82191323', 'longitude': '-87.692925242'}, {'case_number': 'HW222253', 'block': '060XX S VERNON AVE', 'location_description': 'SIDEWALK', 'community_area': 42.0, 'ward': 20.0, 'district': 3, 'beat': 313, 'latitude': '41.785268355', 'longitude': '-87.614452924'}, {'case_number': 'HW273008', 'block': '019XX E 74TH ST', 'location_description': 'RESIDENCE PORCH/HALLWAY', 'community_area': 43.0, 'ward': 8.0, 'district': 3, 'beat': 333, 'latitude': '41.760670836', 'longitude': '-87.578445062'}  ... displaying 10 of 500000 total bound parameter sets ...  {'case_number': 'HX479932', 'block': '063XX S WOLCOTT AVE', 'location_description': 'APARTMENT', 'community_area': 67.0, 'ward': 15.0, 'district': 7, 'beat': 726, 'latitude': '41.778481368', 'longitude': '-87.671477131'}, {'case_number': 'HX397753', 'block': '014XX E 87TH ST', 'location_description': 'RESTAURANT', 'community_area': 48.0, 'ward': 8.0, 'district': 4, 'beat': 412, 'latitude': '41.736871185', 'longitude': '-87.58879593'})

2024-12-06 22:58:03,697 INFO sqlalchemy.engine.base.Engine COMMIT
Processing chunk 12
2024-12-06 22:58:12,115 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where n.nspname=%(schema)s and relname=%(name)s
2024-12-06 22:58:12,116 INFO sqlalchemy.engine.base.Engine {'schema': 'ukgff', 'name': 'cc24_case_location'}
2024-12-06 22:58:12,743 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2024-12-06 22:58:27,206 INFO sqlalchemy.engine.base.Engine INSERT INTO ukgff.cc24_case_location (case_number, block, location_description, community_area, ward, district, beat, latitude, longitude) VALUES (%(case_number)s, %(block)s, %(location_description)s, %(community_area)s, %(ward)s, %(district)s, %(beat)s, %(latitude)s, %(longitude)s)
2024-12-06 22:58:27,208 INFO sqlalchemy.engine.base.Engine ({'case_number': 'HX489636', 'block': '001XX N WELLS ST', 'location_description': 'RESTAURANT', 'community_area': 32, 'ward': 42.0, 'district': 1, 'beat': 122, 'latitude': '41.885260516', 'longitude': '-87.633916764'}, {'case_number': 'HX355954', 'block': '107XX S WENTWORTH AVE', 'location_description': 'RESIDENCE', 'community_area': 49, 'ward': 34.0, 'district': 5, 'beat': 513, 'latitude': '41.698662743', 'longitude': '-87.628058624'}, {'case_number': 'HX461263', 'block': '045XX S DR MARTIN LUTHER KING JR DR', 'location_description': 'CTA BUS STOP', 'community_area': 38, 'ward': 3.0, 'district': 2, 'beat': 215, 'latitude': '41.812752541', 'longitude': '-87.616684101'}, {'case_number': 'HX451743', 'block': '047XX S PRINCETON AVE', 'location_description': 'STREET', 'community_area': 37, 'ward': 3.0, 'district': 9, 'beat': 935, 'latitude': '41.808360134', 'longitude': '-87.633341702'}, {'case_number': 'HX341318', 'block': '016XX N SAWYER AVE', 'location_description': 'APARTMENT', 'community_area': 23, 'ward': 26.0, 'district': 14, 'beat': 1422, 'latitude': '41.910997726', 'longitude': '-87.708465074'}, {'case_number': 'HX369276', 'block': '038XX W MONROE ST', 'location_description': 'SIDEWALK', 'community_area': 26, 'ward': 28.0, 'district': 11, 'beat': 1122, 'latitude': '41.879808008', 'longitude': '-87.721966478'}, {'case_number': 'HX543100', 'block': '008XX W 83RD ST', 'location_description': 'RESIDENCE', 'community_area': 71, 'ward': 21.0, 'district': 6, 'beat': 613, 'latitude': '41.743335473', 'longitude': '-87.645378385'}, {'case_number': 'HX558755', 'block': '021XX N ELSTON AVE', 'location_description': 'DEPARTMENT STORE', 'community_area': 22, 'ward': 32.0, 'district': 14, 'beat': 1432, 'latitude': '41.92046017', 'longitude': '-87.67083136'}  ... displaying 10 of 500000 total bound parameter sets ...  {'case_number': 'HZ381539', 'block': '042XX W 79TH ST', 'location_description': 'SIDEWALK', 'community_area': 70, 'ward': 13.0, 'district': 8, 'beat': 834, 'latitude': '41.749344199', 'longitude': '-87.727522877'}, {'case_number': 'HZ537799', 'block': '020XX N ORCHARD ST', 'location_description': 'SCHOOL, PUBLIC, BUILDING', 'community_area': 7, 'ward': 43.0, 'district': 18, 'beat': 1812, 'latitude': '41.918646522', 'longitude': '-87.64613311'})
2024-12-06 23:01:18,883 INFO sqlalchemy.engine.base.Engine COMMIT
Processing chunk 13
2024-12-06 23:01:27,778 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where n.nspname=%(schema)s and relname=%(name)s
2024-12-06 23:01:27,779 INFO sqlalchemy.engine.base.Engine {'schema': 'ukgff', 'name': 'cc24_case_location'}
2024-12-06 23:01:28,449 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2024-12-06 23:01:41,550 INFO sqlalchemy.engine.base.Engine INSERT INTO ukgff.cc24_case_location (case_number, block, location_description, community_area, ward, district, beat, latitude, longitude) VALUES (%(case_number)s, %(block)s, %(location_description)s, %(community_area)s, %(ward)s, %(district)s, %(beat)s, %(latitude)s, %(longitude)s)
2024-12-06 23:01:41,551 INFO sqlalchemy.engine.base.Engine ({'case_number': 'HZ464805', 'block': '060XX N WESTERN AVE', 'location_description': 'GAS STATION', 'community_area': 2, 'ward': 40.0, 'district': 24.0, 'beat': 2413, 'latitude': '41.99094269', 'longitude': '-87.689685077'}, {'case_number': 'HZ437934', 'block': '115XX S STATE ST', 'location_description': 'STREET', 'community_area': 53, 'ward': 9.0, 'district': 5.0, 'beat': 532, 'latitude': '41.683226562', 'longitude': '-87.622823773'}, {'case_number': 'HZ394400', 'block': '0000X W TERMINAL ST', 'location_description': 'OTHER', 'community_area': 76, 'ward': 41.0, 'district': 16.0, 'beat': 1651, 'latitude': '41.979006297', 'longitude': '-87.906463155'}, {'case_number': 'HZ566050', 'block': '036XX W CORTLAND ST', 'location_description': 'STREET', 'community_area': 22, 'ward': 1.0, 'district': 25.0, 'beat': 2535, 'latitude': '41.915439392', 'longitude': '-87.718400657'}, {'case_number': 'HZ382629', 'block': '038XX W NORTH AVE', 'location_description': 'APARTMENT', 'community_area': 23, 'ward': 30.0, 'district': 25.0, 'beat': 2535, 'latitude': '41.909927337', 'longitude': '-87.722722523'}, {'case_number': 'HZ396328', 'block': '059XX S KILBOURN AVE', 'location_description': 'VEHICLE NON-COMMERCIAL', 'community_area': 65, 'ward': 13.0, 'district': 8.0, 'beat': 813, 'latitude': '41.785353879', 'longitude': '-87.735177375'}, {'case_number': 'HZ408195', 'block': '056XX S NASHVILLE AVE', 'location_description': 'STREET', 'community_area': 56, 'ward': 23.0, 'district': 8.0, 'beat': 811, 'latitude': '41.789748502', 'longitude': '-87.786598306'}, {'case_number': 'HZ454412', 'block': '002XX N MENARD AVE', 'location_description': 'ALLEY', 'community_area': 25, 'ward': 29.0, 'district': 15.0, 'beat': 1512, 'latitude': '41.884682783', 'longitude': '-87.769910394'}  ... displaying 10 of 500000 total bound parameter sets ...  {'case_number': 'JB560390', 'block': '071XX S ELLIS AVE', 'location_description': 'RESIDENCE', 'community_area': 69, 'ward': 5.0, 'district': 3.0, 'beat': 324, 'latitude': '41.76505467', 'longitude': '-87.600672677'}, {'case_number': 'JB479790', 'block': '097XX S PRAIRIE AVE', 'location_description': 'RESIDENCE', 'community_area': 49, 'ward': 9.0, 'district': 5.0, 'beat': 511, 'latitude': '41.717416303', 'longitude': '-87.617663684'})
2024-12-06 23:04:04,185 INFO sqlalchemy.engine.base.Engine COMMIT
Processing chunk 14
2024-12-06 23:04:12,734 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where n.nspname=%(schema)s and relname=%(name)s
2024-12-06 23:04:12,735 INFO sqlalchemy.engine.base.Engine {'schema': 'ukgff', 'name': 'cc24_case_location'}
2024-12-06 23:04:13,363 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2024-12-06 23:04:27,782 INFO sqlalchemy.engine.base.Engine INSERT INTO ukgff.cc24_case_location (case_number, block, location_description, community_area, ward, district, beat, latitude, longitude) VALUES (%(case_number)s, %(block)s, %(location_description)s, %(community_area)s, %(ward)s, %(district)s, %(beat)s, %(latitude)s, %(longitude)s)
2024-12-06 23:04:27,783 INFO sqlalchemy.engine.base.Engine ({'case_number': 'JB449959', 'block': '061XX S COTTAGE GROVE AVE', 'location_description': 'RESIDENCE PORCH/HALLWAY', 'community_area': 42, 'ward': 20.0, 'district': 3, 'beat': 313, 'latitude': '41.783285879', 'longitude': '-87.605994327'}, {'case_number': 'JB388182', 'block': '005XX N MICHIGAN AVE', 'location_description': 'OTHER', 'community_area': 8, 'ward': 42.0, 'district': 18, 'beat': 1834, 'latitude': '41.891984471', 'longitude': '-87.62416567'}, {'case_number': 'JB402024', 'block': '050XX W BERWYN AVE', 'location_description': 'STREET', 'community_area': 12, 'ward': 45.0, 'district': 16, 'beat': 1621, 'latitude': '41.977885463', 'longitude': '-87.752392777'}, {'case_number': 'JB549158', 'block': '098XX S YALE AVE', 'location_description': 'RESIDENCE', 'community_area': 49, 'ward': 21.0, 'district': 5, 'beat': 511, 'latitude': '41.716074788', 'longitude': '-87.629736286'}, {'case_number': 'JB573759', 'block': '086XX S COTTAGE GROVE AVE', 'location_description': 'DEPARTMENT STORE', 'community_area': 44, 'ward': 8.0, 'district': 6, 'beat': 632, 'latitude': '41.737547633', 'longitude': '-87.604847215'}, {'case_number': 'JC116021', 'block': '077XX S YATES BLVD', 'location_description': 'APARTMENT', 'community_area': 43, 'ward': 7.0, 'district': 4, 'beat': 421, 'latitude': '41.754462301', 'longitude': '-87.56628801'}, {'case_number': 'JB502980', 'block': '004XX N OAKLEY BLVD', 'location_description': 'VEHICLE NON-COMMERCIAL', 'community_area': 24, 'ward': 27.0, 'district': 12, 'beat': 1221, 'latitude': '41.890119605', 'longitude': '-87.684230669'}, {'case_number': 'JC110834', 'block': '023XX N NORMANDY AVE', 'location_description': 'RESIDENCE', 'community_area': 18, 'ward': 36.0, 'district': 25, 'beat': 2512, 'latitude': '41.922836995', 'longitude': '-87.792382774'}  ... displaying 10 of 500000 total bound parameter sets ...  {'case_number': 'JD338557', 'block': '113XX S EDBROOKE AVE', 'location_description': 'APARTMENT', 'community_area': 49, 'ward': 9.0, 'district': 5, 'beat': 531, 'latitude': '41.688200651', 'longitude': '-87.619499636'}, {'case_number': 'JD217081', 'block': '024XX W 51ST ST', 'location_description': 'DRUG STORE', 'community_area': 63, 'ward': 14.0, 'district': 9, 'beat': 923, 'latitude': '41.801149586', 'longitude': '-87.684535222'})

2024-12-06 23:06:39,718 INFO sqlalchemy.engine.base.Engine COMMIT
Processing chunk 15
2024-12-06 23:06:47,762 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where n.nspname=%(schema)s and relname=%(name)s
2024-12-06 23:06:47,763 INFO sqlalchemy.engine.base.Engine {'schema': 'ukgff', 'name': 'cc24_case_location'}
2024-12-06 23:06:48,430 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2024-12-06 23:07:02,428 INFO sqlalchemy.engine.base.Engine INSERT INTO ukgff.cc24_case_location (case_number, block, location_description, community_area, ward, district, beat, latitude, longitude) VALUES (%(case_number)s, %(block)s, %(location_description)s, %(community_area)s, %(ward)s, %(district)s, %(beat)s, %(latitude)s, %(longitude)s)
2024-12-06 23:07:02,429 INFO sqlalchemy.engine.base.Engine ({'case_number': 'JD361167', 'block': '056XX W WILSON AVE', 'location_description': 'RESIDENCE - YARD (FRONT / BACK)', 'community_area': 15.0, 'ward': 38.0, 'district': 16, 'beat': 1622, 'latitude': '41.964124456', 'longitude': '-87.768023372'}, {'case_number': 'JD193266', 'block': '005XX E 80TH ST', 'location_description': 'RESIDENCE', 'community_area': 44.0, 'ward': 6.0, 'district': 6, 'beat': 624, 'latitude': '41.749345122', 'longitude': '-87.611760918'}, {'case_number': 'JD368961', 'block': '026XX W CORTEZ ST', 'location_description': 'RESIDENCE - GARAGE', 'community_area': 24.0, 'ward': 1.0, 'district': 12, 'beat': 1211, 'latitude': '41.900229667', 'longitude': '-87.693079988'}, {'case_number': 'JD298931', 'block': '060XX S PRINCETON AVE', 'location_description': 'APARTMENT', 'community_area': 68.0, 'ward': 20.0, 'district': 7, 'beat': 711, 'latitude': '41.784143547', 'longitude': '-87.632721519'}, {'case_number': 'JD271092', 'block': '040XX W 21ST ST', 'location_description': 'RESIDENCE - YARD (FRONT / BACK)', 'community_area': 29.0, 'ward': 24.0, 'district': 10, 'beat': 1012, 'latitude': '41.853479003', 'longitude': '-87.725986954'}, {'case_number': 'JD228744', 'block': '129XX S UNION AVE', 'location_description': 'RESIDENCE', 'community_area': 53.0, 'ward': 34.0, 'district': 5, 'beat': 523, 'latitude': '41.659201974', 'longitude': '-87.638886017'}, {'case_number': 'JD388009', 'block': '004XX N STATE ST', 'location_description': 'PARKING LOT / GARAGE (NON RESIDENTIAL)', 'community_area': 8.0, 'ward': 42.0, 'district': 18, 'beat': 1834, 'latitude': '41.889453169', 'longitude': '-87.627994833'}, {'case_number': 'JD229387', 'block': '033XX N SEMINARY AVE', 'location_description': 'RESIDENCE - PORCH / HALLWAY', 'community_area': 6.0, 'ward': 44.0, 'district': 19, 'beat': 1924, 'latitude': '41.942646639', 'longitude': '-87.656619456'}  ... displaying 10 of 500000 total bound parameter sets ...  {'case_number': 'JG206480', 'block': '0000X S STATE ST', 'location_description': 'DEPARTMENT STORE', 'community_area': 32.0, 'ward': 42.0, 'district': 1, 'beat': 112, 'latitude': '41.88171846', 'longitude': '-87.627760426'}, {'case_number': 'JF421794', 'block': '025XX S WESTERN AVE', 'location_description': 'SCHOOL - PUBLIC BUILDING', 'community_area': 31.0, 'ward': 25.0, 'district': 10, 'beat': 1034, 'latitude': '41.845968863', 'longitude': '-87.685473571'})
2024-12-06 23:09:09,243 INFO sqlalchemy.engine.base.Engine COMMIT
Processing chunk 16
2024-12-06 23:09:12,844 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where n.nspname=%(schema)s and relname=%(name)s
2024-12-06 23:09:12,845 INFO sqlalchemy.engine.base.Engine {'schema': 'ukgff', 'name': 'cc24_case_location'}
2024-12-06 23:09:13,084 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2024-12-06 23:09:18,364 INFO sqlalchemy.engine.base.Engine INSERT INTO ukgff.cc24_case_location (case_number, block, location_description, community_area, ward, district, beat, latitude, longitude) VALUES (%(case_number)s, %(block)s, %(location_description)s, %(community_area)s, %(ward)s, %(district)s, %(beat)s, %(latitude)s, %(longitude)s)
2024-12-06 23:09:18,365 INFO sqlalchemy.engine.base.Engine ({'case_number': 'JG213777', 'block': '001XX W KINZIE ST', 'location_description': 'BAR OR TAVERN', 'community_area': 8, 'ward': 42.0, 'district': 18, 'beat': 1831, 'latitude': '41.889179438', 'longitude': '-87.633040334'}, {'case_number': 'JG170584', 'block': '115XX S MARSHFIELD AVE', 'location_description': 'PARKING LOT / GARAGE (NON RESIDENTIAL)', 'community_area': 75, 'ward': 34.0, 'district': 22, 'beat': 2234, 'latitude': '41.684160442', 'longitude': '-87.66269195'}, {'case_number': 'JF501217', 'block': '022XX E 99TH ST', 'location_description': 'RESIDENCE - GARAGE', 'community_area': 51, 'ward': 10.0, 'district': 4, 'beat': 431, 'latitude': '41.715285614', 'longitude': '-87.568914995'}, {'case_number': 'JG211148', 'block': '123XX S NORMAL AVE', 'location_description': 'RESIDENCE', 'community_area': 53, 'ward': 9.0, 'district': 5, 'beat': 523, 'latitude': '41.669622639', 'longitude': '-87.634422174'}, {'case_number': 'JF461149', 'block': '033XX N WESTERN AVE', 'location_description': 'SMALL RETAIL STORE', 'community_area': 5, 'ward': 47.0, 'district': 19, 'beat': 1921, 'latitude': '41.942199582', 'longitude': '-87.688124523'}, {'case_number': 'JF457689', 'block': '033XX W PIERCE AVE', 'location_description': 'APARTMENT', 'community_area': 23, 'ward': 26.0, 'district': 14, 'beat': 1422, 'latitude': '41.909152464', 'longitude': '-87.710275864'}, {'case_number': 'JG171925', 'block': '045XX S ARCHER AVE', 'location_description': 'SCHOOL - PUBLIC BUILDING', 'community_area': 58, 'ward': 12.0, 'district': 8, 'beat': 821, 'latitude': '41.810593363', 'longitude': '-87.709937037'}, {'case_number': 'JG216257', 'block': '086XX S WABASH AVE', 'location_description': 'STREET', 'community_area': 44, 'ward': 6.0, 'district': 6, 'beat': 632, 'latitude': '41.737357131', 'longitude': '-87.622630478'}  ... displaying 10 of 202400 total bound parameter sets ...  {'case_number': 'JG398340', 'block': '078XX S SOUTH SHORE DR', 'location_description': 'STREET', 'community_area': 46, 'ward': 7.0, 'district': 4, 'beat': 421, 'latitude': '41.752631346', 'longitude': '-87.548737069'}, {'case_number': 'JG324067', 'block': '005XX S WELLS ST', 'location_description': 'STREET', 'community_area': 32, 'ward': 34.0, 'district': 1, 'beat': 123, 'latitude': '41.87515458', 'longitude': '-87.633648765'})
2024-12-06 23:10:10,267 INFO sqlalchemy.engine.base.Engine COMMIT

In [44]:
%%sql 
PRAGMA table_info(cc24_case_location);

 * sqlite:////dsa/data/DSA-7030/cc24_7030.sqlite.db
Done.

[(0, 'case_number', 'TEXT', 0, None, 0),
 (1, 'block', 'TEXT', 0, None, 0),
 (2, 'location_description', 'TEXT', 0, None, 0),
 (3, 'community_area', 'BIGINT', 0, None, 0),
 (4, 'ward', 'BIGINT', 0, None, 0),
 (5, 'district', 'BIGINT', 0, None, 0),
 (6, 'beat', 'BIGINT', 0, None, 0),
 (7, 'latitude', 'TEXT', 0, None, 0),
 (8, 'longitude', 'TEXT', 0, None, 0)]

# Execute SQL DML commands (using %sql magic or sqlAlchmey) to confirm the table record counts for the destination database tables are consistent with the source database table record counts

cc24_iucr_codes
------

In [45]:
%%sql
select count(*) from cc24_iucr_codes;

 * sqlite:////dsa/data/DSA-7030/cc24_7030.sqlite.db
Done.

[(437,)]

In [46]:
cursor.execute(f"select count(*) from ukgff.cc24_iucr_codes")
result = cursor.fetchone()
result = result[0]
print(result)

437

cc24_iucr_codes_secondary_descriptions
--------------

In [47]:
%%sql
select count(*) from cc24_iucr_codes_secondary_descriptions;

 * sqlite:////dsa/data/DSA-7030/cc24_7030.sqlite.db
Done.

[(420,)]

In [48]:
cursor.execute(f"select count(*) from ukgff.cc24_iucr_codes_secondary_descriptions")
result = cursor.fetchone()
result = result[0]
print(result)

420

cc24_iucr_codes_primary_descriptions
-----------

In [49]:
%%sql
select count(*) from cc24_iucr_codes_primary_descriptions;

 * sqlite:////dsa/data/DSA-7030/cc24_7030.sqlite.db
Done.

[(420,)]

In [50]:
cursor.execute(f"select count(*) from ukgff.cc24_iucr_codes_primary_descriptions")
result = cursor.fetchone()
result = result[0]
print(result)

420

cc24_fbi_nibrs_categories
-------

In [51]:
%%sql
select count(*) from cc24_fbi_nibrs_categories;

 * sqlite:////dsa/data/DSA-7030/cc24_7030.sqlite.db
Done.

[(36,)]

In [52]:
cursor.execute(f"select count(*) from ukgff.cc24_fbi_nibrs_categories")
result = cursor.fetchone()
result = result[0]
print(result)

36

cc24_fbi_nibrs_offense_categories
-----

In [53]:
%%sql
select count(*) from cc24_fbi_nibrs_offense_categories;

 * sqlite:////dsa/data/DSA-7030/cc24_7030.sqlite.db
Done.

[(91,)]

In [54]:
cursor.execute(f"select count(*) from ukgff.cc24_fbi_nibrs_offense_categories")
result = cursor.fetchone()
result = result[0]
print(result)

91

cc24_nibrs_fbicode_offenses
-----

In [55]:
%%sql
select count(*) from cc24_nibrs_fbicode_offenses;

 * sqlite:////dsa/data/DSA-7030/cc24_7030.sqlite.db
Done.

[(91,)]

In [56]:
cursor.execute(f"select count(*) from ukgff.cc24_nibrs_fbicode_offenses")
result = cursor.fetchone()
result = result[0]
print(result)

91

cc24_nibrs_crimes_against
----

In [57]:
%%sql
select count(*) from cc24_nibrs_crimes_against;

 * sqlite:////dsa/data/DSA-7030/cc24_7030.sqlite.db
Done.

[(4,)]

In [58]:
cursor.execute(f"select count(*) from ukgff.cc24_nibrs_crimes_against")
result = cursor.fetchone()
result = result[0]
print(result)

4

cc24_nibrs_offenses_crimes_aginst
---

In [59]:
%%sql
select count(*) from cc24_nibrs_offenses_crimes_aginst;

 * sqlite:////dsa/data/DSA-7030/cc24_7030.sqlite.db
Done.

[(90,)]

In [60]:
cursor.execute(f"select count(*) from ukgff.cc24_nibrs_offenses_crimes_aginst")
result = cursor.fetchone()
result = result[0]
print(result)

90

cc24_cases
---

In [56]:
%%sql
select count(*) from cc24_cases;

 * sqlite:////dsa/data/DSA-7030/cc24_7030.sqlite.db
Done.

[(8202774,)]

In [57]:
cursor.execute(f"select count(*) from ukgff.cc24_cases")
result = cursor.fetchone()
result = result[0]
print(result)

8202370

cc24_case_location
----

In [61]:
%%sql
select count(*) from cc24_case_location;

 * sqlite:////dsa/data/DSA-7030/cc24_7030.sqlite.db
Done.

[(8202400,)]

In [62]:
cursor.execute(f"select count(*) from ukgff.cc24_case_location")
result = cursor.fetchone()
result = result[0]
print(result)

8202370